@import "partials/leaflet"; // We need maps in configuration screens
/**
  * Use this style in all config related pages like
  * binding_config, service_config, thing_configuration, thing_channels
  */

.config {
  margin-top: 10px;
  margin-bottom: 10px;
  .elements:not(.oneline) {
    display: grid;
    column-gap: 10px;
    row-gap: 30px;
    align-items: flex-start;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(120px, 400px));
  }
  .elements {
    &:not(.oneline) .element {
      display: grid;
      grid-template-areas: "label reset" "control control" "desc desc";
      grid-template-columns: 1fr min-content;
      &.isboolean {
        grid-template-areas: "control reset" "desc desc";
      }
      .configdesc {
        padding-top: 10px;
        grid-area: desc;
        font-size: 80%;
        font-weight: 400;
      }
      .configcontrol {
        grid-area: control;
        width: 100%;
      }
      .resetdefault {
        grid-area: reset;
      }
      label {
        grid-area: label;
        margin: 0;
        font-size: smaller;
        align-self: end;
      }
    }
    &.oneline .element {
      display: flex;
      align-items: start;
      .resetdefault {
        order: 3;
      }
      .configcontrol {
        order: 2;
      }
      label {
        padding: .375rem 0;
        order: 1;
        width: 150;
        text-overflow: ellipsis;
        overflow-y: hidden;
      }
      .configdesc {
        order: 4;
        font-size: 80%;
        font-weight: 400;
      }
    }
    .configdesc {
      p {
        margin: 0;
      }
    }
  }
}

#listcontainer.grid>article footer.hidden {
  display: none;
}

ui-github-issues {
  ul {
    margin-bottom: 0;
  }
}

.configheadergrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: min-content minmax(120px, 300px);
  label {
    white-space: nowrap;
    margin: 0;
    align-self: center;
  }
}