@import "partials/leaflet"; // We need maps in configuration screens

/**
  * Use this style in all config related pages like binding_config, service_config
  */

.config {
    margin-top: 10px;
    margin-bottom: 10px;
    .elements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .element {
        margin: 10px;
        flex: 1;
        min-width: 45%;
    }
}

oh-github-issues {
    ul {
        margin-bottom: 0;
    }
}
