:root {
    --background-color: black;
    --main-bg: rgb(20, 20, 20);
    --card-bg: rgb(63, 63, 63);
    --color: white;
    --light: #343a40;
    --color-btn: white;
    --ui-bg: rgb(122, 122, 122);
    --border-btn: #616161;
    --primary: #a5490c;
    --primary-light: #ff72146b;
}

section.header {
    background-color: black;
}