@import "partials/variables";
main .logo {
    max-width: calc(100% - 40px);
    padding: 20px 0;
    animation: fadein 1s linear 0.2s 1 normal both;
    margin: 0 auto;
}

main {
    .card .btn-secondary {
        min-width: 190px;
    }
}

body {
    &>main,
    &>aside {
        grid-row: 2 !important;
    }
}

header .logo {
    animation: fadein 1s linear 0s 1 reverse forwards;
}

aside {
    opacity: 0;
    animation: swinginxr 1s ease-in-out 1s 1 normal forwards;
    max-width: 300px;
    min-width: 270px;
    margin-right: 10px;
    h4 {
        padding: 10px;
        display: flex;
        span {
            flex: 1;
        }
    }
    li {
        display: flex;
        a {
            flex: 1;
        }
    }
}

@media (min-width: get-breakpoints("xxxl")) {
    main {
        padding: 0 100px;
    }
}