@import "partials/_variables";
.emptylist {
    align-self: center;
    max-width: 700px;
    margin-top: 10px;
    oh-context-help {
        padding: 10px;
    }
}

oh-codeeditor {
    margin-top: 10px;
    display: flex;
    flex: 1;
    width: 100%;
    .editoroverlay {
        background: var(--background-color);
        box-shadow: 0 0 10px rgba(26, 26, 26, .25);
        top: 100px;
        position: absolute;
        height: 100px;
        width: 500px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

oh-vue-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    &>div {
        // The "app" div
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

@keyframes haschanges {
    0% {
        box-shadow: 0px 0px 15px 0px rgba(60, 64, 67, .08);
    }
    50% {
        box-shadow: 0px 0px 15px 0px theme-color("danger");
    }
    100% {
        box-shadow: 0px 0px 15px 0px rgba(60, 64, 67, .08);
    }
}

.haschanges,
oh-codeeditor[haschanges] {
    animation-name: haschanges;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.secondlevel {
    position: absolute;
    background-color: var(--card-bg);
    box-shadow: 0 0 5px 0 #000;
    border-radius: .25rem;
    top: 45px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 10;
    opacity: 0;
    padding: 10px;
    z-index: -1;
    transition: all 0.5s;
    transform: translateY(-20px);
    opacity: 0;
    min-height: 150px;
    .tags {
        margin-top: 10px;
        display: flex;
        h5 {
            transform: translateX(-50%) translateY(100%) rotate(-90deg);
            margin-right: -40px;
            margin-left: 10px;
            white-space: nowrap;
            align-self: flex-start;
        }
        ui-tags {
            flex: 1;
        }
    }
}

.secondlevel.show {
    opacity: .9;
    z-index: 10;
    transform: translateY(0px);
}

#listcontainer {
    align-self: flex-start;
    width: 100%;
    margin-top: 1.5rem;
    &.grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &.selectionmode .listitem.selected {
        box-shadow: 0px 0px 15px 0px var(--primary);
    }
    article section.actions {
        .btn {
            display: flex;
            align-items: center;
        }
    }
}

#listcontainer article.haschanges {
    .itemstate,
    .actions {
        display: none;
    }
    .actions.unsaved {
        display: flex;
    }
}

#listcontainer article:not(.haschanges) {
    .actions.unsaved {
        display: none;
    }
}

// A grid item can have a "warnDialog" and tabs
#listcontainer.grid>article {
    display: grid;
    grid-template-areas: "title actions" "description description" "footer footer";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 1fr min-content;
    &.hasimage {
        grid-template-areas: "aside title actions" "aside description description" "aside footer footer";
        grid-template-columns: 100px 1fr min-content;
    }
    transition: box-shadow 135ms cubic-bezier(.4, 0, .2, 1),
    width 235ms cubic-bezier(.4, 0, .2, 1);
    color: #5f6368;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08),
    0 1px 3px 1px rgba(60, 64, 67, .16);
    margin-right: 10px;
    width: 355px;
    &.wider {
        width: 450px;
    }
    position: relative;
    background-color: var(--card-bg); //  border: 1px solid var(--color);
    border-radius: 10px;
    margin-bottom: 1.5rem;
    &:hover {
        box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .2), 0 2px 8px 4px rgba(60, 64, 67, .1);
    }
    &.withtabs {
        margin-bottom: 3rem;
    }
    aside {
        grid-area: aside;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    header {
        grid-area: title;
        font-size: 1.5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px 20px;
        padding-right: 0;
    }
    section.actions {
        grid-area: actions;
        padding: 10px 20px;
        padding-left: 2px;
        .btn>span {
            display: none;
        }
    }
    section.description {
        grid-area: description;
        padding: 10px 20px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column; // strech first span
        &>span:nth-child(1) {
            flex: 1;
            padding-bottom: 10px;
        }
    }
    footer {
        grid-area: footer;
        display: flex;
        align-items: center; // border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
        padding: 10px 20px; // background-color: rgba(0, 0, 0, .03);
        // border-top: 1px solid rgba(0, 0, 0, .125);
    }
}

body.wide #listcontainer.grid>article {
    width: 450px;
}

// A list item can have a "warnDialog"
#listcontainer.list>article {
    position: relative;
    display: flex;
    margin-bottom: -1px;
    background-color: var(--card-bg);
    border: 1px solid rgba(0, 0, 0, .125);
    .warnDialog {
        flex-direction: row;
        h4 {
            font-size: 1.3rem;
            margin: 0;
        }
        .loader {
            top: -25px;
            left: 50px;
        }
    }
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5rem 1.25rem;
        span:first-child {
            flex: 1;
        }
        &>*:not(:last-child) {
            margin-right: 10px;
        }
    } // Hide texts of buttons in list mode
    section.description,
    footer {
        display: none;
    }
    &:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    &:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }
}

@media (max-width: get-breakpoints("xl")) {
    #listcontainer {
        &.grid>article {
            min-width: 200px;
        }
    }
}