.as-console {
    background: #e9e9e9;
    border: 1px solid #ccc;
    display: table;
    border-collapse: collapse;
}

.as-console-row {
    display: table-row;
    font-family: monospace;
    font-size: 13px;
}

.as-console-row:after {
    display: table-cell;
    padding: 3px 6px;
    color: rgba(0, 0, 0, .35);
    border: 1px solid #ccc;
    content: attr(data-date);
    vertical-align: top;
    min-width: 200px;
}

.as-console-row+.as-console-row>* {
    border: 1px solid #ccc;
}

.as-console-row-code {
    width: 100%;
    white-space: pre-wrap;
    padding: 3px 5px;
    display: table-cell;
    font-family: monospace;
    font-size: 13px;
    vertical-align: middle;
}

.as-console-error:before {
    content: 'Error: ';
    color: #f00;
}

.as-console-assert:before {
    content: 'Assertion failed: ';
    color: #f00;
}

.as-console-info:before {
    content: 'Info: ';
    color: #00f;
}

.as-console-warning:before {
    content: 'Warning: ';
    color: #e90
}

@-webkit-keyframes flash {
    0% {
        background: rgba(255, 240, 0, .25);
    }
    100% {
        background: none;
    }
}

@-moz-keyframes flash {
    0% {
        background: rgba(255, 240, 0, .25);
    }
    100% {
        background: none;
    }
}

@-ms-keyframes flash {
    0% {
        background: rgba(255, 240, 0, .25);
    }
    100% {
        background: none;
    }
}

@keyframes flash {
    0% {
        background: rgba(255, 240, 0, .25);
    }
    100% {
        background: none;
    }
}

.as-console-row-code,
.as-console-row:after {
    -webkit-animation: flash 1s;
    -moz-animation: flash 1s;
    -ms-animation: flash 1s;
    animation: flash 1s;
}