/* The openHAB Theme is orange flavoured. Use the two below defined colors. */

@import "partials/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/headerbar";
@import "partials/animations";
@import "partials/notifications";
@import "partials/subnavigation";
@import "partials/maingrid";
html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

// Fix "jumping scrollbar" issue
@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;
    width: 100%;
}

main>* {
    margin: 20px;
}

section.header {
    background-color: theme-color("orange");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: get-breakpoints("md")) {
    section.header {
        padding: 10px;
        h4 {
            font-size: 1.2em;
        }
    }
}

.centeredsmallcard {
    margin: 10px auto 30px;
    width: 70%;
    min-width: 300px;
    max-width: 600px;
    padding: 50px 30px 30px 30px;
}

a {
    position: relative;
    display: inline-block;
    color: #ff7214;
    padding: 0;
    text-decoration: none;
}

a.active,
a:hover {
    text-decoration: underline;
}

a.disabled {
    color: gray;
    pointer-events: none;
}

.helpbtn {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: black;
    border-radius: 55px;
    border: dotted 1px;
    animation: breathe 0.75s 0s infinite alternate;
    animation-direction: alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-weight: bolder;
}

.helpbtn:hover {
    text-decoration: none;
}

.helpbtn:hover:before {
    animation-play-state: running;
    animation: ping 3s 0s infinite;
}

.helpbtn:before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 10;
    border-radius: 55px;
    height: 100%;
    width: 100%;
    transform-origin: center;
    border: none;
    animation: ping 3s 0s 3;
}

.swingout {
    animation: swingout 0.2s;
}

.fadein {
    animation: fadein 0.5s;
}

details[open] summary~* {
    animation: swinginxr .5s ease-in-out;
}

oh-community-topics ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}