@import "partials/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/bootstrap_callouts";
@import "partials/headerbar";
@import "partials/animations";
@import "partials/subnavigation";
@import "partials/maingrid";
@import "partials/contexthelp";

@import "ui-components/ui-switch";
@import "ui-components/ui-radio";
@import "ui-components/ui-tags";
@import "ui-components/ui-filterbar";
// Bootstrap extensions
@each $color,
$value in $theme-colors {
    .btn-#{$color}-hover {
        @include button-variant(theme-color(light), theme-color(light), $hover-background: lighten($value, 7.5%), $hover-border: lighten($value, 10%), $active-background: lighten($value, 10%), $active-border: lighten($value, 12.5%));
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active:focus {
            box-shadow: initial;
        }
    }
    .btn-#{$color}-underline {
        @include button-variant(transparent, transparent, $hover-background: lighten($value, 7.5%), $hover-border: lighten($value, 10%), $active-background: lighten($value, 10%), $active-border: lighten($value, 12.5%));
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active:focus {
            box-shadow: initial;
        }
        & {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, .125);
            color: inherit;
        }
    }
}

button.dropdown-toggle {
    white-space: nowrap;
}

details[open] summary~* {
    animation: swinginxr .5s ease-in-out;
}

// Fix "jumping scrollbar" issue
@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

// Main page
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    color: #2c3e50;
    width: 100%;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
}

main>* {
    margin-left: 20px;
    margin-right: 20px;
}

section.header {
    background-color: theme-color("orange");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
        margin: 0;
        padding: 0;
        flex: 1;
    }
}

@media (max-width: get-breakpoints("md")) {
    section.header {
        padding: 10px;
        h4 {
            font-size: 1.2em;
        }
    }
}

.centeredsmallcard {
    margin: 10px auto 30px;
    width: 70%;
    min-width: 300px;
    max-width: 600px;
    padding: 50px 30px 30px 30px;
}

// Links
a {
    position: relative;
    display: inline-block;
    color: theme-color("orange");
    padding: 0;
    text-decoration: none;
}

a:focus {
    outline: none;
}

a.active,
a:hover {
    text-decoration: underline;
}

a.disabled {
    color: gray;
    pointer-events: none;
}

.fadein {
    animation: fadein 0.5s;
}

// Notifications
.alert-area {
    max-height: 100%;
    position: fixed;
    bottom: 5px;
    left: 20px;
    right: 20px;
    z-index: 30;
}

@media (max-width: 767px) and (min-width: 481px) {
    .alert-area {
        left: 100px;
        right: 100px;
    }
}

@media (min-width: 768px) {
    .alert-area {
        width: 350px;
        left: auto;
        right: 0;
    }
}

/* Use this for an btn bar. Usually in combination on a btn-group */

.btnbar {
    justify-content: flex-end;
    display: flex;
    &>.btn {
        flex: initial;
    }
}

oh-community-topics ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

nav-breadcrumb {
    padding: 20px 0;
}

/* Webkit/Chrome/Firefox: Remove combo box arrow symbol */

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Bootstrap dropdown-menu */

.dropdown-menu .dropdown-menu {
    top: -1px;
    left: 100%;
    margin: 0 0 0 3px;
}

/* TODO: component */

.radio-button-group {
    display: flex;
    padding: 10px 0;
    label {
        position: relative;
        margin: 0;
        margin-right: -2px;
        cursor: pointer;
        input {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            opacity: 0;
        }
        span {
            color: #fff;
            padding: 5px 20px;
            cursor: pointer;
            border: 1px solid theme-color-level("secondary", 2);
            margin: 0;
            background-color: theme-color("secondary");
        }
        input:checked+span {
            border: 1px solid theme-color-level("primary", 2);
            background-color: theme-color("primary");
        }
        input:hover+span {
            border: 1px solid theme-color-level("info", 2);
            background-color: theme-color-level("info", 0);
        }
    }
    label:first-of-type span {
        border-radius: .7em 0 0 .7em;
    }
    label:last-of-type span {
        border-radius: 0 .7em .7em 0;
    }
}