section.bundles {
    .maxheight {
        overflow: auto;
        max-height: 500px;
    }
    div:nth-child(1) {
        align-items: center;
    }
}

.main oh-changelog {
    max-width: 700px;
}

.graphs {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    ui-time-graph:not(:defined) {
        transition: opacity 0.5s;
        opacity: 0;
    }
    ui-time-graph {
        transition: opacity 0.5s, transform 0.5s, box-shadow 0.5s;
        opacity: 1;
        width: 30%;
        height: 300px;
        background-color: white;
        z-index: 100;
        position: relative;
    }
    ui-time-graph:hover {
        transform: scale(1.2);
        transition: transform 0.5s;
        box-shadow: 0 0 10px rgba(26, 26, 26, .25);
    }
}