.roadmapprogress {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 10px;
    &>a {
        align-self: flex-start;
    }
    &>ul {
        counter-reset: step;
        li {
            list-style: none;
            display: inline-block;
            width: 30.33%;
            position: relative;
            text-align: center;
            cursor: pointer;
        }
        li:before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #ddd;
            border-radius: 100%;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            background-color: #fff;
            position: relative;
            z-index: 1;
        }
        li:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ddd;
            top: 15px;
            left: 15px;
            transform: translateX(-50%);
            z-index: 0;
        }
        li:first-child:after {
            content: none;
        }
        li.active {
            color: green;
        }
        li.active:before {
            border-color: green;
        }
        li.active+li:after {
            background-color: green;
        }
    }
}

table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

table tr td:first-child {
    width: 70%;
}

table td,
table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

table tbody+tbody {
    border-top: 2px solid #dee2e6
}

table {
    background-color: #fff
}

table td,
table th {
    padding: .3rem
}

table,
table td,
table th {
    border: 1px solid #dee2e6
}

table thead td,
table thead th {
    border-bottom-width: 2px
}

table.borderless tbody+tbody,
table.borderless td,
table.borderless th,
table.borderless thead th,
table.darktable {
    border: 0
}

table.striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

table tbody tr:hover {
    background-color: rgba(0, 0, 0, .075)
}