@import "partials/flatpickr";
#cronexpression,
#absolutedatetime {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 1.25rem;
}

#cronexpression:not(.hidden) {
    pointer-events: none;
    display: none;
    &~#absolutedatetime {
        border-color: #ff7214 !important;
    }
}

#cronexpression.hidden {
    border-color: #ff7214 !important;
    &~#absolutedatetime {
        pointer-events: none;
        display: none;
    }
}

label {
    margin-bottom: 0;
}

.tab-content>section>* {
    margin-top: 10px;
    margin-bottom: 10px;
}

#triggeritemcommand.hidden {
    display: none;
}