@import "partials/_variables";
@import "../node_modules/shepherd.js/src/scss/shepherd-theme-square.scss";
main.tutorial {
    display: block;
}

oh-tutorial-starter {
    display: none;
}

.youtube {
    width: 640px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    .play {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
        background-size: 64px 64px;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: .8;
        filter: alpha(opacity=80);
        transition: all 0.2s ease-out;
        &:hover {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
}

.tutimage {
    display: block;
    max-width: 70%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem !important;
}

.tutorial ol {
    list-style-type: lower-roman;
}

.tutorial oh-tutorial-starter~button {
    margin-bottom: 10px;
    margin-top: 10px;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    background: #55a892;
    border: 0;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    font-family: inherit;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    line-height: 1em;
    padding: 0.75em 2em;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button:hover {
    background: #448675;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button.shepherd-button-secondary {
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.75);
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button.shepherd-button-secondary:hover {
    background: #cbcbcb;
    color: rgba(0, 0, 0, 0.75);
}

.tippy-popper .tippy-arrow {
    border: 16px solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.tippy-popper[x-placement^='top'] {
    margin-bottom: 16px;
}

.tippy-popper[x-placement^='top'] .tippy-arrow {
    border-bottom: 0;
    border-top-color: #ffffff;
    left: calc(50% - 16px);
}

.tippy-popper[x-placement^='bottom'] {
    margin-top: 16px;
}

.tippy-popper[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: #ffffff;
    border-top: 0;
    left: calc(50% - 16px);
}

.tippy-popper[x-placement^='left'] {
    margin-right: 16px;
}

.tippy-popper[x-placement^='left'] .tippy-arrow {
    border-left-color: #ffffff;
    border-right: 0;
    margin-top: -16px;
    top: calc(50% - 16px);
}

.tippy-popper[x-placement^='right'] {
    margin-left: 16px;
}

.tippy-popper[x-placement^='right'] .tippy-arrow {
    border-left: 0;
    border-right-color: #ffffff;
    top: calc(50% - 16px);
}

.tippy-popper .shepherd-welcome:not(.shepherd-has-title) .shepherd-content header,
.tippy-popper .shepherd-welcome:not(.shepherd-has-title) .shepherd-content .shepherd-header {
    padding-bottom: 0;
}

.tippy-popper .shepherd-welcome .shepherd-content header,
.tippy-popper .shepherd-welcome .shepherd-content .shepherd-header {
    background: #ffffff;
}

.tippy-popper .shepherd-welcome .shepherd-content .shepherd-text {
    color: #336457;
}