<nav class="sidebar leftright">
    <h4>Navigation</h4>
    <ul class="autoactive">
        <li><a data-no-reload="nav" href="addons.html">Installed Add-ons</a></li>
        <li><a data-no-reload="nav" href="addon_files.html">Manage file Add-ons</a></li>
    </ul>
    <p title="Official and Marketplace addons">Install Add-ons</p>
    <ul class="autoactive">
        <li><a data-no-reload="nav" href="addon_install.html#category=binding">Binding</a></li>
        <li><a data-no-reload="nav" href="addon_install.html#category=integration">System integration</a></li>
        <li><a data-no-reload="nav" href="addon_install.html#category=persistence">Persistence service</a></li>
        <li><a data-no-reload="nav" href="addon_install.html#category=transformation">Transformation</a></li>
        <li><a data-no-reload="nav" href="addon_install.html#category=voice">Voice service</a></li>
    </ul>
    <p>Settings</p>
    <ul>
        <li>
            <toggle-check class="ml-4" storekey="enabletest" title="">Snapshot repo</toggle-check>
        </li>
        <li>
            <toggle-check class="ml-4" storekey="enabletest" title="">Legacy repo</toggle-check>
        </li>
    </ul>
</nav>