<aside class="contexthelp">
    <div class="fixedwrapper">
        <oh-context-help url="contexthelp/@@help.md"></oh-context-help>
        <div class="btnbar mt-4 mr-2">
            <oh-doc-link class="btn btn-danger helpbtn2 mr-2" toggle><i class="fas fa-times"></i> Close</oh-doc-link>
            <span class="btn-group" role="group">
                <oh-doc-link class="btn btn-secondary" reload><i class="fas fa-redo"></i> Reload</oh-doc-link>
                <oh-doc-link class="btn btn-secondary" home>Home</oh-doc-link>
            </span>
        </div>
    </div>
</aside>
