<nav class="sidebar leftright">
    <h4>Navigation</h4>
    <ul class="autoactive">
        <li><a data-no-reload="nav" href="items.html">Item list</a></li>
        <li><a data-no-reload="nav" href="item.html">Add Item</a></li>
    </ul>
    <p>Predefined filters</p>
    <ul>
        <li><a href="#type=switch">Show switches</a></li>
        <li><a href="#type=dimmer">Show dimmers</a></li>
        <li><a href="#type=number">Show numbers</a></li>
        <li><a href="#type=text">Show texts</a></li>
        <li><a href="#type=rollershutter">Show rollershutters</a></li>
    </ul>
</nav>