<datalist id="itemCategories">
    <option value="attic">
    <option value="bath">
    <option value="bedroom">
    <option value="cellar">
    <option value="corridor">
    <option value="firstfloor">
    <option value="garage">
    <option value="garden">
    <option value="groundfloor">
    <option value="kitchen">
    <option value="office">
    <option value="terrace">
    <option value="battery">
    <option value="blinds">
    <option value="camera">
    <option value="door">
    <option value="frontdoor">
    <option value="garagedoor">
    <option value="lawnmower">
    <option value="lightbulb">
    <option value="lock">
    <option value="poweroutlet">
    <option value="projector">
    <option value="receiver">
    <option value="screen">
    <option value="siren">
    <option value="wallswitch">
    <option value="whitegood">
    <option value="window">
    <option value="colorpicker">
    <option value="group">
    <option value="rollershutter">
    <option value="slider">
    <option value="switch">
    <option value="text">
    <option value="humidity">
    <option value="moon">
    <option value="rain">
    <option value="snow">
    <option value="sun">
    <option value="sun_clouds">
    <option value="temperature">
    <option value="wind">
    <option value="batterylevel">
    <option value="carbondioxide">
    <option value="colorlight">
    <option value="energy">
    <option value="fire">
    <option value="flow">
    <option value="gas">
    <option value="light">
    <option value="lowbattery">
    <option value="motion">
    <option value="oil">
    <option value="pressure">
    <option value="price">
    <option value="qualityofservice">
    <option value="smoke">
    <option value="soundvolume">
    <option value="temperature">
    <option value="time">
    <option value="water">
    <option value="heating">
    <option value="mediacontrol">
    <option value="movecontrol">
    <option value="zoom">
    <option value="alarm">
    <option value="party">
    <option value="presence">
    <option value="vacation">
    <option value="baby_1">
    <option value="baby_2">
    <option value="baby_3">
    <option value="baby_4">
    <option value="baby_5">
    <option value="baby_6">
    <option value="bedroom_blue">
    <option value="bedroom_orange">
    <option value="bedroom_red">
    <option value="bluetooth">
    <option value="boy_1">
    <option value="boy_2">
    <option value="boy_3">
    <option value="boy_4">
    <option value="boy_5">
    <option value="boy_6">
    <option value="calendar">
    <option value="chart">
    <option value="cinema">
    <option value="cinemascreen">
    <option value="cistern">
    <option value="climate">
    <option value="colorwheel">
    <option value="contact">
    <option value="dryer">
    <option value="error">
    <option value="fan">
    <option value="fan_box">
    <option value="fan_ceiling">
    <option value="faucet">
    <option value="flowpipe">
    <option value="garage_detached">
    <option value="garage_detached_selected">
    <option value="girl_1">
    <option value="girl_2">
    <option value="girl_3">
    <option value="girl_4">
    <option value="girl_5">
    <option value="girl_6">
    <option value="greenhouse">
    <option value="house">
    <option value="incline">
    <option value="keyring">
    <option value="line">
    <option value="man_1">
    <option value="man_2">
    <option value="man_3">
    <option value="man_4">
    <option value="man_5">
    <option value="man_6">
    <option value="microphone">
    <option value="network">
    <option value="niveau">
    <option value="none">
    <option value="outdoorlight">
    <option value="pantry">
    <option value="parents_1_1">
    <option value="parents_1_2">
    <option value="parents_1_3">
    <option value="parents_1_4">
    <option value="parents_1_5">
    <option value="parents_1_6">
    <option value="parents_2_1">
    <option value="parents_2_2">
    <option value="parents_2_3">
    <option value="parents_2_4">
    <option value="parents_2_5">
    <option value="parents_2_6">
    <option value="parents_3_1">
    <option value="parents_3_2">
    <option value="parents_3_3">
    <option value="parents_3_4">
    <option value="parents_3_5">
    <option value="parents_3_6">
    <option value="parents_4_1">
    <option value="parents_4_2">
    <option value="parents_4_3">
    <option value="parents_4_4">
    <option value="parents_4_5">
    <option value="parents_4_6">
    <option value="parents_5_1">
    <option value="parents_5_2">
    <option value="parents_5_3">
    <option value="parents_5_4">
    <option value="parents_5_5">
    <option value="parents_5_6">
    <option value="parents_6_1">
    <option value="parents_6_2">
    <option value="parents_6_3">
    <option value="parents_6_4">
    <option value="parents_6_5">
    <option value="parents_6_6">
    <option value="pie">
    <option value="piggybank">
    <option value="player">
    <option value="poweroutlet_au">
    <option value="poweroutlet_eu">
    <option value="poweroutlet_uk">
    <option value="poweroutlet_us">
    <option value="pump">
    <option value="radiator">
    <option value="recorder">
    <option value="returnpipe">
    <option value="rgb">
    <option value="settings">
    <option value="sewerage">
    <option value="shield">
    <option value="smiley">
    <option value="sofa">
    <option value="softener">
    <option value="solarplant">
    <option value="soundvolume_mute">
    <option value="status">
    <option value="suitcase">
    <option value="sunrise">
    <option value="sunset">
    <option value="temperature_cold">
    <option value="temperature_hot">
    <option value="toilet">
    <option value="video">
    <option value="wardrobe">
    <option value="washingmachine">
    <option value="washingmachine_2">
    <option value="woman_1">
    <option value="woman_2">
    <option value="woman_3">
    <option value="woman_4">
    <option value="woman_5">
    <option value="woman_6">
</datalist>