<header class="navbarui">
  <a class="sidebar-button" href="#" onclick="toggleSidebar(event)">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon" style="max-width: 20px;">
      <path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
    </svg>
  </a>
  <a class="home" id="home" href="index.html">
    <div alt="openHAB" class="logo"></div>
  </a>
  <nav>
    <ui-nav-auto-link></ui-nav-auto-link>
    <div><a href="maintenance.html">Maintenance</a></div>
    <div><a href="bindings.html">Add-ons</a></div>
    <div><a href="inbox.html" style="display: inline-flex;align-items: center;">
        Inbox
        <oh-form-bind adapter="formadapter/inboxcounter" objectid=""></oh-form-bind>
        <oh-vue-form></oh-vue-form>
        <template>
          <span class="ml-2 badge badge-pill badge-orange">{{inboxcounter}}</span>
        </template>
      </a>
    </div>
    <div><a href="things.html">Things</a></div>
    <div><a href="items.html">Items</a></div>
    <div><a href="schedules.html">Scheduler</a></div>
    <div><a href="scenes.html">Scenes</a></div>
    <div><a href="rules.html">Automation</a></div>
  </nav>
</header>
<nav-ajax-page-load></nav-ajax-page-load>
<div id="alert-area" class="alert-area"></div>
<template id="alert-template">
  <div class="alert-box">
    <div class="alert-content">
      <slot></slot>
    </div>
    <a class="alert-close no-loader" data-close href="#"></a>
  </div>
</template>
