<nav class="sidebar leftright">
    <h4>Navigation</h4>
    <ul>
        <ui-nav-auto-link></ui-nav-auto-link>
        <li><a data-no-reload="nav" href="maintenance.html">Maintenance</a></li>
        <li><a data-no-reload="nav" href="configuration.html">Configuration</a></li>
        <li><a data-no-reload="nav" href="logview.html">Show log</a></li>
    </ul>
    <p>UI options</p>
    <ul>
        <li>
            <ui-switch class="ml-4" storekey="darktheme" title="Dark theme"></ui-switch>
        </li>
        <li>
            <ui-dropdown style="width:calc(100% - 1.5rem)" class="ml-4 mt-2 d-block" value="English" options="English,German,French"></ui-dropdown>
        </li>
    </ul>
    <p>Service config</p>
    <ul class="exact">
        <ui-nav-auto-link></ui-nav-auto-link>
        <li><a data-no-reload="nav" href="service_config.html#backup">Backup</a></li>
        <li><a data-no-reload="nav" href="service_config.html#ssl">SSL certificates</a></li>
        <li><a data-no-reload="nav" href="service_config.html#hue">Hue Emulation</a></li>
        <li><a data-no-reload="nav" href="service_config.html#lts">Long time stability</a></li>
        <li><a data-no-reload="nav" href="service_config.html#lsp">Language Server (LSP)</a></li>
        <li><a data-no-reload="nav" href="service_config.html#habpanel">HabPanel</a></li>
        <li><a data-no-reload="nav" href="service_config.html#rvi">Rule Voice Interpreter</a></li>
    </ul>
</nav>