<header class="navbarui">
    <a class="sidebar-button" href="#" onclick="toggleSidebar(event)">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon" style="max-width: 20px;">
            <path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
        </svg>
    </a>
    <a class="home" href="index.html"><div alt="openHAB" class="logo"></div></a>
    <nav class="autoactive">
        <div><a href="maintenance.html">Maintenance</a></div>
        <div><a href="addons.html">Add-ons</a></div>
        <div><a href="inbox.html">Inbox <span class="badge badge-pill badge-orange">0</span></a></div>
        <div><a href="things.html">Things</a></div>
        <div><a href="items.html">Items</a></div>
        <div><a href="timer.html">Timer</a></div>
        <div><a href="rules.html">Rules</a></div>
    </nav>
</header>
<div id="alert-area" class="alert-area"></div>