<nav class="sidebar leftright">
    <h4>Navigation</h4>
    <ul class="autoactive">
        <li><a data-no-reload="nav" href="rules.html">Rules list</a></li>
        <li><a data-no-reload="nav" href="rule.html">Add Rule</a></li>
        <li><a data-no-reload="nav" href="script.html">Add script file</a></li>
    </ul>
    <p>Script files</p>
    <ul>
        <li><a data-no-reload="nav" href="script.html#file=My startup script">My startup script</a></li>
        <li><a data-no-reload="nav" href="script.html#file=Awesomeness in one file">Awesomeness in one file</a></li>
        <li><a data-no-reload="nav" href="script.html#file=Push to MQTT">Push to MQTT</a></li>
    </ul>
</nav>