<nav class="sidebar leftright">
    <h4>Navigation</h4>
    <ul class="autoactive">
        <li><a data-no-reload="nav" href="things.html">Thing list</a></li>
        <li><a data-no-reload="nav" href="thing.html">Add Thing</a></li>
    </ul>
    <p>Predefined filters</p>
    <ul>
        <li><a href="#status=online">All Online Things</a></li>
        <li><a href="#status=offline">All Offline Things</a></li>
        <li><a href="#status=offline&statusdetail=configuration_required">Configuration required</a></li>
    </ul>
</nav>