<nav>
  <div class="sidebar leftright fixedwrapper">
    <h4 class="ml-2">Table of content</h4>
    <ol style="text-align: left">
      <oh-nav-auto-link></oh-nav-auto-link>
      <li><a data-no-reload="nav" href="tutorial.html">Introduction</a></li>
      <li><a data-no-reload="nav" href="tutorial-addons.html">Extend openHAB</a></li>
      <li><a data-no-reload="nav" href="tutorial-conceptional.html">Conceptional overview</a></li>
      <li><a data-no-reload="nav" href="tutorial-things.html">Things &amp; Channels</a></li>
      <li><a data-no-reload="nav" href="tutorial-items.html">Items &amp; Links</a></li>
      <li><a data-no-reload="nav" href="tutorial-scheduler.html">Scheduler</a></li>
      <li><a data-no-reload="nav" href="tutorial-scenes.html">Scenes</a></li>
      <li><a data-no-reload="nav" href="tutorial-rules.html">Rules</a></li>
      <li><a data-no-reload="nav" href="tutorial-control-ui.html">Control interfaces</a></li>
      <li><a data-no-reload="nav" href="tutorial-exercises.html">Excercises</a></li>
    </ol>
  </div>
</nav>
