<nav class="sidebar leftright">
    <h4 class="ml-2">Table of content</h4>
    <ul style="text-align: left">
        <ui-nav-auto-link></ui-nav-auto-link>
        <li><a data-no-reload="nav" href="tutorial-1.html">1. Introduction</a></li>
        <li><a data-no-reload="nav" href="tutorial-2.html">2. Extend openHAB</a></li>
        <li><a data-no-reload="nav" href="tutorial-3.html">3. Conceptional overview</a></li>
        <li><a data-no-reload="nav" href="tutorial-4.html">4. Things &amp; Channels</a></li>
        <li><a data-no-reload="nav" href="tutorial-5.html">5. Items &amp; Links</a></li>
        <li><a data-no-reload="nav" href="tutorial-6.html">6. Rules</a></li>
        <li><a data-no-reload="nav" href="tutorial-7.html">7. Scheduler</a></li>
        <li><a data-no-reload="nav" href="tutorial-8.html">8. Scripts</a></li>
        <li><a data-no-reload="nav" href="tutorial-9.html">9. Control interfaces</a></li>
        <li><a data-no-reload="nav" href="tutorial-10.html">10. Excercises</a></li>
    </ul>
</nav>
