<div class="sidebar leftright">
    <h4 class="ml-2">Table of content</h4>
    <ul id="tutorialtoc" style="text-align: left">
        <li><a data-no-reload="nav" href="tutorial-1.html">1. Introduction</a></li>
        <li><a data-no-reload="nav" href="tutorial-2.html">2. Extend openHAB</a></li>
        <li><a data-no-reload="nav" href="tutorial-3.html">3. Concepts - Bindings and Things</a></li>
        <li><a data-no-reload="nav" href="tutorial-4.html">4. Concepts - Channels</a></li>
        <li><a data-no-reload="nav" href="tutorial-5.html">5. Concepts - Items</a></li>
        <li><a data-no-reload="nav" href="tutorial-6.html">6. Concepts - Groups</a></li>
        <li><a data-no-reload="nav" href="tutorial-7.html">7. Concepts - Rules</a></li>
        <li><a data-no-reload="nav" href="tutorial-8.html">8. Concepts - Timers</a></li>
        <li><a data-no-reload="nav" href="tutorial-9.html">9. Habpanel</a></li>
        <li><a data-no-reload="nav" href="tutorial-10.html">10. Excercises</a></li>
    </ul>
</div>
