<div class="elements">
    <template v-for="config in configurations()">
        <div class="element" v-if="config.type=='BOOLEAN'">
            <ui-switch :label="config.label"></ui-switch>
            <small class="form-text text-muted" v-html="config.description"></small>
        </div>
        <template v-else-if="config.type=='TEXT'">
            <div class="element" v-if="config.limitToOptions">
                <ui-dropdown :value="config.defaultValue" :options.prop="convertOptions(config.options)"></ui-dropdown>
                <small class="form-text text-muted" v-html="config.description"></small>
            </div>
            <div class="element" style="min-width: 90%;" v-else-if="config.context=='location'">
                <input :value="config.defaultValue" id="mapcoordinates">
                <small class="form-text text-muted" v-html="config.description"></small>
                <ui-maps @change="mapChanged"></ui-maps>
            </div>
            <div class="element" v-else>
                <input :value="config.defaultValue">
                <small class="form-text text-muted" v-html="config.description"></small>
            </div>
        </template>
        <div class="element" v-else-if="config.type=='DECIMAL' || config.type=='INTEGER'">
            <input type="number" :value="config.defaultValue" :min="config.min" :max="config.max">
            <small class="form-text text-muted" v-html="config.description"></small>
        </div>
    </template>
</div>