<div slot="app"></div>
<template slot="list">
  <partial src="vuelisterrors.html"></partial>
  <ui-codeeditor slot="app" v-else-if="viewmode=='textual'" :modelschema.prop="modelschema" ref="editor" :content.prop="toTextual()"
    @state="editorContentChanged($event.target)"></ui-codeeditor>
  <div v-else class="w-100" slot="app">
    <div v-if="status==OhListStatus.READY && items.length==0" class="emptylist">
      <p>No content found. You might find the help text interesting.</p>
      <ui-context-help url="@@help.md" class="card"></ui-context-help>
    </div>
    <transition-group v-else name="fade" tag="div" id="listcontainer" :class="[{selectionmode:selectmode},viewmode]">
      <oh-vue-listitem v-for="item in items" :key="@@key" :listitem="item"></oh-vue-listitem>
    </transition-group>
    <div v-if="items.hasmore" class="text-center">
      <button class="btn btn-primary-hover" @click="showMore()">Show 50 more &hellip;</button>
    </div>
  </div>
</template>
