.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fadein {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bouncyFadeOut {
    animation: bouncyFadeOut 0.5s linear 0s 1 normal both;
}

@keyframes bouncyFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes swingin {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes swingout {
    0% {
        opacity: 1;
        transform: translateY(0px)
    }
    99% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        display: none;
    }
}

@keyframes swinginx {
    from {
        opacity: 0;
        transform: translateX(20px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes swinginxr {
    0% {
        display: block;
        opacity: 0;
        transform: translateX(-20px)
    }
    100% {
        display: block;
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes swingoutxr {
    0% {
        display: block;
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-20px);
        display: none;
    }
}

@keyframes ping {
    from {
        transform: scale(1);
        opacity: 0.75;
        border: solid #ff7214 3px;
    }
    to {
        transform: scale(2);
        opacity: 0;
        border: solid #642e0a 3px;
    }
}

@keyframes breathe {
    from {
        border-color: #ff7214;
        background-color: #f0ad4e;
    }
    to {
        border-color: #ff7214;
        background-color: #ecbb77;
    }
}

.ripple {
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }
    &:focus:not(:active)::after {
        animation: ripple 1s ease-out;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.pulseAnimation {
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}