.modal {
    margin: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    display: none;
    pointer-events: none;
    &:target {
        animation: display-none-transition 1s both;
        display: initial;
        opacity: 1;
        pointer-events: initial;
    }
    &>div {
        width: 400px;
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes display-none-transition {
    0% {
        opacity: 0;
    }
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
        color: #000;
    }
}

.warnDialog {
    position: absolute;
    background-color: var(--card-bg);
    box-shadow: 0 0 5px 0 #000;
    border-radius: .25rem;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 10;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .loader {
        top: -10px;
    }
}