@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes swingin {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes swingout {
    0% {
        opacity: 1;
        transform: translateY(0px)
    }
    99% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        display: none;
    }
}

@keyframes swinginx {
    from {
        opacity: 0;
        transform: translateX(20px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes swinginxr {
    0% {
        display: block;
        opacity: 0;
        transform: translateX(-20px)
    }
    100% {
        display: block;
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes swingoutxr {
    0% {
        display: block;
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-20px);
        display: none;
    }
}

@keyframes ping {
    from {
        transform: scale(1);
        opacity: 0.75;
        border: solid #ff7214 3px;
    }
    to {
        transform: scale(2);
        opacity: 0;
        border: solid #642e0a 3px;
    }
}

@keyframes breathe {
    from {
        border-color: #ff7214;
        background-color: #f0ad4e;
    }
    to {
        border-color: #ff7214;
        background-color: #ecbb77;
    }
}