@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes swingin {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes swinginx {
    from {
        opacity: 0;
        transform: translateX(20px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes swinginxr {
    from {
        opacity: 0;
        transform: translateX(-20px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes swingout {
    from {
        opacity: 1;
        transform: translateY(0px)
    }
    to {
        opacity: 0;
        transform: translateY(-20px)
    }
}

@keyframes ping {
    from {
        transform: scale(1);
        opacity: 0.75;
        border: solid #ff7214 3px;
    }
    to {
        transform: scale(3);
        opacity: 0;
        border: solid #ff7214 3px;
    }
}

@keyframes breathe {
    from {
        border-color: #ff7214;
        background-color: #f0ad4e;
    }
    to {
        border-color: #ff7214;
        background-color: #ecbb77;
    }
}