@import "partials/variables";
.navbarui {
    z-index: 1;
    position: relative;
    contain: content;
    width: 100%;
    background-color: #fff;
    padding: 0 1.5rem;
    height: 60px;
    align-items: center;
    display: flex;
    .sidebar-button {
        display: none;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 10px;
        .icon {
            display: block;
        }
        color: inherit;
    }
    .sidebar-button:hover {
        color: theme-color("orange");
    }
    .home {
        width: 160px;
        display: flex;
        align-items: center;
        div {
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: center;
            height: 40px;
            width: 100%;
        }
    }
    nav {
        box-sizing: border-box;
        white-space: nowrap;
        font-size: .9rem;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        justify-content: flex-end;
        &>div:first-child {
            margin-left: 0;
        }
        &>div {
            margin-left: 1.5rem;
        }
        a {
            position: relative;
            display: inline-block;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.4rem;
            color: inherit;
            padding: 0;
            text-decoration: none;
        }
        a.active,
        a:hover {
            margin-bottom: -2px;
            border-bottom: 2px solid theme-color("primary");
        }
    }
    @media (max-width: get-breakpoints("xxl")) {
        padding: 0 .5rem;
        .home {
            width: 100px;
        }
        nav {
            padding-left: .5rem;
            &>div {
                margin-left: 1rem;
            }
        }
    }
    @media (max-width: get-breakpoints("md")) {
        .sidebar-button {
            display: block;
        }
        .home {
            display: none;
        }
    }
}