#listcontainer {
    &.grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    &.textual {
        flex: 1;
        display: flex;
        .listitem {
            display: none;
        }
        oh-codeeditor {
            display: block;
            width: 100%;
        }
    }
    &.selectionmode .listitem.selected,
    &>.changed {
        box-shadow: 0px 0px 15px 0px rgba(255, 114, 20, 1);
    }
    &.grid .listitem {
        margin-right: 10px;
        flex-basis: calc(50% - 10px);
        min-width: 420px;
        position: relative;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        .body {
            flex: 1 1 auto;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            &>.title {
                margin-bottom: .75rem;
                font-size: 1.5rem;
                margin-bottom: .5rem;
                font-family: inherit;
                font-weight: 500;
                line-height: 1.2;
                color: inherit;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                flex-wrap: nowrap;
                display: flex;
                align-items: center;
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 1;
                }
                small {
                    display: none;
                }
                select {
                    width: initial;
                }
            }
            &>.description {
                flex: 1;
                padding-bottom: 1rem;
            }
            &>.actions {
                white-space: nowrap;
                &>*:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
        .footer {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
            padding: .75rem 1.25rem;
            background-color: rgba(0, 0, 0, .03);
            border-top: 1px solid rgba(0, 0, 0, .125);
            small {
                flex: 1;
                color: #6c757d !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap !important;
            }
        }
    }
    &.list .listitem {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .125);
        .body {
            display: flex;
            font-size: 20pt;
            align-items: center;
            flex-direction: row;
            .title {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                select {
                    display: none;
                }
            }
            .description {
                flex: 1;
                white-space: nowrap;
                color: #6c757d;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: .5rem;
                margin-right: .5rem;
                font-size: 80%;
                font-weight: 400;
            }
            &>.actions {
                white-space: nowrap;
                &>*:not(:last-child) {
                    margin-right: 5px;
                }
            }
            .btn-group>*>span {
                display: none;
            }
        }
        .footer {
            display: none;
        }
    }
    .listitem.list:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    .listitem.list:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }
}

oh-vue-list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}