@import "partials/variables";
body {
    display: grid;
    grid-template-columns: [nav] 1fr [main] get-breakpoints("lg") [aside] 1fr [end];
    grid-template-rows: min-content min-content 1fr auto;
    min-height: 100%;
    &>nav {
        grid-column: 1;
        grid-row: 3 / span 2;
        justify-self: end;
        animation: swinginx 0.2s;
    }
    &>aside {
        grid-column: 3;
        grid-row: 2 / span 4;
        justify-self: start;
        position: relative;
        z-index: 5;
        contain: layout;
    }
    &>header {
        grid-column: 2;
        grid-row: 1;
    }
    &>section.header {
        grid-column: 2;
        grid-row: 2;
        box-shadow: 0 0 10px rgba(26, 26, 26, 0.25);
        position: relative;
        z-index: 11;
    }
    &>main {
        grid-column: 2;
        grid-row: 3;
        box-shadow: 0 0 10px rgba(26, 26, 26, 0.25);
        position: relative;
        z-index: 10;
        align-self: stretch;
    }
    &>footer {
        grid-column: 2;
        grid-row: 4;
    }
}

@media (min-height: 800px) {
    main {
        min-height: 600px;
    }
}

@media (max-width: get-breakpoints("xxl")) {
    body {
        display: grid;
        grid-template-columns: [nav] 1fr [main] get-breakpoints("md") [aside] 1fr [end];
    }
}

@media (max-width: get-breakpoints("xl")) {
    body {
        display: grid;
        grid-template-columns: [nav] min-content [main] auto [aside] auto [end];
        &>header {
            grid-column: 1 / span 3;
            grid-row: 1;
        }
        &>section.header {
            grid-column: 1 / span 3;
            grid-row: 2;
            box-shadow: none;
        }
        &>nav {
            grid-column: 1 / span 1;
            grid-row: 3 / span 2;
            justify-self: start;
        }
        &>aside {
            // grid-column: 3 / span 1;
            // grid-row: 3 / span 2;
            position: absolute; // There is no space. Make it absolute
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
            z-index: 20;
            display: none;
            max-width: initial !important;
            max-height: initial !important;
        }
        &>main {
            grid-column: 2 / span 2; // span 2 because no context help
            grid-row: 3;
            box-shadow: none;
            overflow: hidden;
        }
        &>footer {
            grid-column: 2 / span 1;
            grid-row: 4;
        }
    }
}

@media (max-width: get-breakpoints("md")) {
    body {
        display: initial;
    }
}