@import "partials/variables";
.sidebar {
    contain: content;
    position: relative;
    z-index: 5;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .sidebar-group a {
        padding-left: 2rem;
    }
    a.active {
        font-weight: bold;
        color: theme-color("orange");
        border-left-color: theme-color("orange");
        text-decoration: none;
    }
    a {
        display: inline-block;
        color: #2c3e50;
        border-right: .5rem solid transparent;
        border-left: .25rem solid transparent;
        padding: .35rem 1rem .35rem 1.25rem;
        line-height: 1.4;
        text-decoration: none;
    }
    a:hover {
        color: theme-color("orange");
    }
    .sidebar-group>p:first-child {
        color: black;
        transition: color .15s ease;
        font-size: 1.1em;
        font-weight: bolder;
        padding: 0 1.5rem;
        margin-top: 0;
        margin-bottom: .5rem;
    }
}

.sidebar.hover {
    a:hover {
        border-left-color: theme-color("orange");
    }
}

.sidebar.hover.leftright {
    @media (min-width: get-breakpoints("xl")) {
        a:hover {
            border-left: .25rem solid transparent;
            border-right-color: theme-color("orange");
        }
    }
}

.sidebar.leftright {
    @media (min-width: get-breakpoints("xl")) {
        h4 {
            background-color: theme-color("orange");
            color: white;
            padding: 10px;
        }
        a {
            width: 100%;
        }
        a:hover {
            color: white;
            background-color: theme-color("orange");
            text-decoration: none;
        }
        a.active {
            border-left: .25rem solid transparent;
            border-right-color: theme-color("orange");
        }
    }
}

@media (max-width: get-breakpoints("md")) {
    body > nav {
            position: absolute;
            background-color: lightgray;
            box-shadow: 0 0 10px rgba(26, 26, 26, 0.25);
            width: 250px;
            transform: translateX(-250px);
            z-index: 20;
            top: 60px;
            transition: transform 0.3s;
    }
    body.showsidebar > nav {
        transform: translateX(0px);
    }
}
