ui-dropdown {
    display: inline-block;
}

.dropdown-menu .dropdown-menu {
    top: -1px;
    left: 100%;
    margin: 0 0 0 3px;
}

button.dropdown-toggle {
    white-space: nowrap;
    width: 100%;
    position: relative;
    display: flex;
    &>span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; //width: calc(100% - 20px);
        //max-width: 220px;
        width: 100%;
    }
    &::after {
        border: none;
        display: inline-block;
        margin-left: .255em;
        content: '⯈';
        transform: rotate(90deg);
    }
}

.dropdown-menu {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    max-width: 400px;
    width: max-content;
    &>a>* {
        pointer-events: none;
    }
    &>a {
        display: flex;
        &>img {
            width: 40px;
            max-height: 40px;
            margin-right: 10px;
        }
    }
}

.dropdown-item {
    padding: .25rem 0.5rem;
    white-space: normal;
}