.ui-filterbar > form {
    display: flex;
    margin: 0;
    color: inherit;
}

.ui-filterbar > form>.input-group {
    flex: 1;
}

.ui-filterbar > form i {
    pointer-events: none;
}

.ui-filterbar > form input::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: bgconfirm 1s ease-in-out 0s 1;
    animation-play-state: paused;
}