@import "partials/variables";
ui-switch {
    display: block;
}
.ui-switch {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    &>span {
        display: block;
        height: 18px;
        width: 44px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
        margin-right: 10px;
    }
    &.big>span {
        width: 60px;
        height: 34px;
    }
    &>span:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        margin-top: 1px;
        margin-left: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    &.big >span:before {
        height: 26px;
        width: 26px;
        left: 4px;
        margin-top: 1px;
    }
    input:checked+span {
        background-color: theme-color("orange");
    }
    input:focus+span {
        box-shadow: 0 0 1px theme-color("orange");
    }
    input:checked+span:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}