<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/listgridview.css" type="text/css" />
  <nav class="sidebar leftright">
    <h4>Navigation</h4>
    <ul>
      <ui-nav-auto-link></ui-nav-auto-link>
      <li><a href="bindings.html">Installed Add-ons</a></li>
      <li><a href="addon_files.html">Manage file Add-ons</a></li>
      <li><a href="addon_repositories.html">Add-on Repositories</a></li>
      <li><a href="addon_install.html">Install Add-ons</a></li>
    </ul>
    <p title="Official and Marketplace addons">Filter</p>
    <ul>
      <ui-nav-auto-link></ui-nav-auto-link>
      <li>
        <oh-change-filter target="ui-filter" filter="type:binding">Binding</oh-change-filter>
      </li>
      <li>
        <oh-change-filter target="ui-filter" filter="type:misc">System integration</oh-change-filter>
      </li>
      <li>
        <oh-change-filter target="ui-filter" filter="type:ui">Graphical interfaces</oh-change-filter>
      </li>
      <li>
        <oh-change-filter target="ui-filter" filter="type:persistence">Persistence service</oh-change-filter>
      </li>
      <li>
        <oh-change-filter target="ui-filter" filter="type:transformation">Transformation</oh-change-filter>
      </li>
      <li>
        <oh-change-filter target="ui-filter" filter="type:voice">Voice service</oh-change-filter>
      </li>
    </ul>
  </nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Install new Add-ons"></partial>
  <main>

    <ui-filter class="mt-4" placeholder="Filter..." grid="Grid view" list="List view" select="Selection mode">
      <button class="btn btn-success" data-action="install">
        <i class="fas fa-check"></i> Install
        <oh-event-bind eventName="selectionchanged" setcontent></oh-event-bind>
        <span class="badge badge-light ml-2">0</span>
      </button>
    </ui-filter>

    <oh-list-bind adapter="modeladapter_lists/addons" filtercriteria="label" maxItems="100"></oh-list-bind>
    <oh-vue-list>
      <partial src="vuelistbasics.html" key="item.id" help="contexthelp/addons_install"></partial>
      <template slot="item">
        <article :id="item.id">
          <vue-inprogress></vue-inprogress>
          <header><span>{{item.label}}</span></header>
          <section class="actions">
          </section>
          <section class="description">
            <span>{{item.description}}
              <oh-doc-link v-if="item.url_doc" show title="Show full documentation page" :href="item.url_doc" class="ml-2 link">
                <i class="fas fa-external-link-alt"></i></oh-doc-link>
            </span>
            <div style="display: flex;justify-content: space-between;">
              <small style="white-space: nowrap;text-overflow: ellipsis;">&ndash; By {{item.author}}
              </small>
              <select class="ml-2 custom-select form-control-sm" style="max-width: 150px;" @input="changeVersion($event.target.value)"
                :value="item.version">
                <option v-for="ver in item.availableVersions" :value="ver">{{ver}}</option>
              </select>
            </div>
          </section>
          <footer>
            <oh-doc-link v-if="item.url_changelog" show :href="item.url_changelog" class="btn btn-outline-secondary text-nowrap">
              <span>Changelog</span></oh-doc-link>
            <button class="ml-auto btn btn-outline-success text-nowrap" @click="install()"><i class="fas fa-check"></i>
              <span>Install</span></button>
          </footer>
        </article>
      </template>
    </oh-vue-list>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="addons_install"></partial>
</body>

</html>
