<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/listgridview.css" type="text/css" />
  <nav class="sidebar leftright">
    <h4>Navigation</h4>
    <ul>
      <ui-nav-auto-link></ui-nav-auto-link>
      <li><a data-no-reload="nav" href="bindings.html">Installed Add-ons</a></li>
      <li><a data-no-reload="nav" href="addon_files.html">Manage file Add-ons</a></li>
      <li><a data-no-reload="nav" href="addon_repositories.html">Add-on Repositories</a></li>
      <li><a href="addon_install.html">Install Add-ons</a></li>
    </ul>
  </nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Install official, marketplace and manuall addons and configure them"></partial>
  <main>
    <ui-filter class="mt-4" placeholder="Filter..." grid="Grid view" list="List view" select="Selection mode">
      <button class="btn btn-danger" data-action="remove">
        <i class="fas fa-trash"></i> Uninstall
        <oh-event-bind eventName="selectionchanged" setcontent></oh-event-bind>
        <span class="badge badge-light ml-2">0</span>
      </button>
    </ui-filter>

    <oh-list-bind for="bindingslist" adapter="modeladapter_lists/bindings" filtercriteria="name"></oh-list-bind>
    <oh-vue-list id="bindingslist">
      <partial src="vuelistbasics.html" key="item.id" help="contexthelp/addons"></partial>
      <template slot="item">
        <article :id="item.id" class="wider" :class="[{pulseAnimation: pulseAnimation}]">
          <vue-inprogress></vue-inprogress>
          <header>
            <span>{{item.name}}</span>
            <small class="ml-2">{{item.version}}</small>
            <oh-doc-link v-if="item.versioninformation && item.versioninformation.length" title="Known problems and workarounds for your installed version"
              show class="ml-2 link text-nowrap" :context.prop="item.versioninformation" href="binding_known_problems.fragment.html">
              <i class="fas fa-exclamation-triangle"></i>
            </oh-doc-link>
          </header>
          <section class="actions">
            <span class="btn-group" role="group">
              <a title="Configure this binding" :href="'binding_config.html?title='+encodeURIComponent(item.name)+'&id='+item.id"
                class="btn btn-secondary-hover"><i class="fas fa-cog mr-2"></i>
                <span>Configure</span></a>
              <oh-doc-link show class="btn btn-secondary-hover text-nowrap" href="binding_supported_things.fragment.html"
                :context.prop="'UID:'+item.id" title="Supported Things">
                <i class="fas fa-clipboard-list mr-2"></i> <span>Supported Things</span>
              </oh-doc-link>
              <ui-dropdown btnclass="btn text-nowrap p-0 px-2" v-if="hasCustomPages()" class="btn btn-secondary-hover p-0"
                nostate novalue label="AUX" title="Auxiliary pages" viewkey="label" valuekey="uri" :options.prop="this.item.custompages"
                @input="showAuxiliary"></ui-dropdown>
            </span>
          </section>
          <section class="description">
            <span>{{item.description}}</span>
            <small style="white-space: nowrap;text-overflow: ellipsis;">&ndash; By {{item.author}}
            </small>
          </section>
          <footer>
            <a class="btn btn-outline-secondary text-nowrap" target="_blank" :href="bugreportlink">Report a bug</a>
            <button class="ml-auto btn btn-outline-danger" @click="remove()"><span>Uninstall</span></button>
          </footer>
        </article>
      </template>
    </oh-vue-list>
  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="addons"></partial>
</body>

</html>
