<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/config.css">
  <script type="module" src="js/uimaps.js"></script>
  <partial src="maintenancenav.html"></partial>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="General openHAB configuration"></partial>
  <main>
    <oh-list-bind listadapter="services"></oh-list-bind>
    <oh-vue-list filtercriteria="label" maxFilteredItems="1000">
      <div slot="app"></div>
      <template slot="list">
        <partial src="vuelisterrors.html"></partial>
        <div slot="app" v-else>
          <oh-vue-listitem v-for="item in filtered" v-if="item.category=='system'" :key="item.id" :listitem="item"></oh-vue-listitem>
        </div>
      </template>
      <template slot="item">
        <section class="config">
          <h4 :title="item.id">{{item.label}}</h4>
          <oh-form-bind adapter="service" :objectid="item.id"></oh-form-bind>
          <oh-vue-form for="serviceconfig"></oh-vue-form>
          <div class="btn-group btnbar" role="group">
            <a href="#" class="btn btn-primary disabled"><i class="fas fa-save"></i> Save</a>
          </div>
          <hr>
        </section>
      </template>
    </oh-vue-list>

    <template id="serviceconfig">
      <div v-if="!objectdata.id || !configuration()">No further configuration available</div>
      <div class="elements" v-else>
        <vue-config-element v-for="config in configuration().parameters" :key="config.name" :config="config"></vue-config-element>
      </div>
    </template>
  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="configuration"></partial>
</body>

</html>
