<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="maintenance.html" />
</head>

<body>
  <link rel="stylesheet" href="css/config.css">
  <script type="module" src="js/ui-maps.js"></script>
  <partial src="maintenancenav.html"></partial>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="General openHAB configuration"></partial>
  <main>
    <oh-list-bind adapter="modeladapter_lists/services-full" fixedfilter="category:system"></oh-list-bind>
    <oh-vue-list>
      <div slot="app">
        <list>
          <template #empty>
            <p>Loading &hellip;</p>
          </template>
        </list>
      </div>

      <partial src="vuelistbasics.html" KEY="id" help="help"></partial>

      <template slot="item">
        <section class="config">
          <h4 :title="item.id">{{item.label}}</h4>
          <div v-if="!configuration">No further configuration available</div>
          <div class="elements" v-else>
            <vue-config-element v-for="param in configuration.parameters" :desc="true" :key="param.id" :param="param"
              :value="getConfigValue(param)" @input="setConfigValue" @remove="removeConfigValue(param)"></vue-config-element>
          </div>
          <div class="btn-group btnbar" role="group">
            <a href="#" class="btn btn-primary disabled"><i class="fas fa-save"></i> Save</a>
          </div>
          <hr>
        </section>
      </template>
    </oh-vue-list>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="configuration"></partial>
</body>

</html>
