<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/listgridview.css" type="text/css" />
  <link rel="stylesheet" href="css/inbox.css" type="text/css" />
  <nav class="sidebar leftright">
    <h4>Actions</h4>
    <ul>
      <li id="clearresults">
      </li>
    </ul>
    <p>Start manuall discovery</p>
    <oh-list-bind listadapter="discovery" filtercriteria="id"></oh-list-bind>
    <oh-vue-list style="display: block;max-width: 250px;">
      <div slot="app"></div>
      <template slot="list">
        <partial src="vuelisterrors.html"></partial>
        <ul slot="app" v-else>
          <oh-vue-listitem v-for="item in items" :key="item.id" :listitem="item"></oh-vue-listitem>
        </ul>
      </template>
      <template slot="item">
        <li><a class="discovery" :class="{activediscovery:activediscovery}" href="#" :title="description()"
            @click.prevent="toggle()"> {{label()}}</a></li>
      </template>
    </oh-vue-list>
    <p>Settings</p>
    <ul>
      <li>
        <ui-switch storekey="enabletest" title="Auto approve"></ui-switch>
      </li>
      <li>
        <ui-switch storekey="showhidden" title="Show hidden"></ui-switch>
      </li>
    </ul>
  </nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Find all devices that are auto discoverable with your current set of add-ons."></partial>
  <main>

    <ui-filter class="mt-4" placeholder="Filter..." grid="Grid view" list="List view" select="Selection mode">
      <div class="btn-group" role="group">
        <button class="btn btn-info" data-action="hide">
          <i class="fas fa-eye-slash"></i> Hide
          <oh-event-bind eventName="selectionchanged" setcontent></oh-event-bind>
          <span class="badge badge-light ml-2">0</span>
        </button>
        <button class="btn btn-success" data-action="accept">
          <i class="fas fa-check"></i> Accept
          <oh-event-bind eventName="selectionchanged" setcontent></oh-event-bind>
          <span class="badge badge-light ml-2">0</span>
        </button>
      </div>
    </ui-filter>

    <oh-list-bind for="inboxlist" listadapter="inbox" filtercriteria="label"></oh-list-bind>
    <oh-vue-list id="inboxlist">

      <div slot="app"></div>

      <template slot="list">
        <partial src="vuelisterrors.html"></partial>
        <div v-else class="w-100" slot="app">
          <transition-group name="fade" tag="div" id="listcontainer" :class="[{selectionmode:selectmode},viewmode]">
            <oh-vue-listitem v-for="item in items" :key="item.thingUID" :listitem="item"></oh-vue-listitem>
          </transition-group>
          <portal name="testname" target-el="#clearresults" breakshadow slim>
            <a href="#" @click.prevent="clear" :class="{disabled:empty}">Clear Inbox</a>
          </portal>
          <div v-if="items.hasmore" class="text-center">
            <button class="btn btn-primary-hover" @click="showMore()">Show 50 more &hellip;</button>
          </div>
        </div>
      </template>

      <template slot="item">
        <article :id="item.thingUID" :class="[{pulseAnimation: pulseAnimation}]">
          <vue-inprogress></vue-inprogress>
          <header class="title">
            <span :title="item.label">{{item.label}}</span>
          </header>
          <section class="actions btn-group">
            <button class="btn btn-info-hover" title="Hide" @click="hide()"><i class="fas fa-eye-slash"></i></button>
            <button class="btn btn-success" title="Accept" @click="accept()"><i class="fas fa-check"></i></button>
          </section>
          <section class="description"> {{description(item)}} </section>
          <footer><small class="text-muted"> {{binding(item)}} </small></footer>
        </article>
      </template>
    </oh-vue-list>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="inbox"></partial>
</body>

</html>
