<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/index.css" type="text/css" />

  <nav class="mainhome">
    <a title="Java programming skills?" class="first btn m-2" target="_blank" href="https://www.openhab.org/docs/developer/development/bindings.html">
      <img src="img/develop_binding.svg.png">
      <div>We ❤ binding developers</div>
    </a>

    <hr>

    <a title="You know about html, css, javascript?" class="second btn m-2" target="_blank" href="https://www.openhab.org/docs/developer/development/bindings.html">
      <img src="img/develop_ui.svg.png">
      <div>User interface development</div>
    </a>
  </nav>

  <partial src="mainnav.html"></partial>

  <section class="header mainhome"> </section>

  <main class="mainhome">

    <img src="img/openhab-logo.png" alt="openHAB" class="logo">

    <div class="introcard card my-4 border-primary">
      <div class="card-body">
        <h3 class="card-title">Welcome aboard!</h3>
        <div class="row">
          <p class="card-text col-sm mb-0"> You are using the <b>Setup &amp; Maintenance</b> interface of openHAB.<br>
            Our introduction slides will guide you through openHABs features and explain how to use this interface.</p>

          <div class="col-md-auto text-right">
            <a class="btn btn-primary-hover" href="tutorial.html">
              Introduction
            </a>
          </div>
        </div>
        <div class="row">
          <details class="card-text col-sm mb-0 mt-2">
            <summary>Improve your openHAB skills: Check our tutorial section</summary>
            <div class="card-body">
              <div class="row">
                <ui-community-topics id="tutorialtopics" class="card-text col-sm" topics="c/tutorials-examples/l/latest"
                  order="created" limit="10"></ui-community-topics>
                <div class="col-md-auto" style="display:flex;flex-direction: column">
                  <a class="btn btn-primary-hover m-2" target="_blank" href="https://community.openhab.org">Community</a>
                  <a class="btn btn-primary-hover m-2" target="_blank" href="https://www.openhab.org/docs">Documentation</a>
                  <oh-doc-link class="btn btn-primary-hover m-2" reload target="#tutorialtopics">Reload</oh-doc-link>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

    <oh-form-bind adapter="modeladapter_forms/userinterfaces" objectid=""></oh-form-bind>
    <oh-vue-form class="introcard"></oh-vue-form>
    <template>
      <div v-if="value.length" id="userinterfaces">
        <a v-for="item of value" class="pulseAnimation card p-3" :class="item.type" :title="item.description" :href="link(item)">
          <img :src="image(item)">
          <header class="title">{{item.label}}</header>
          <section>{{item.description}}</section>
        </a>
      </div>
      <div v-else class="card p-3 mb-4">
        <p>We have not found any control user-interfaces on your openHAB installation.<br>
          After you are done with setting up:
          Head over to the <span class="demolink">Add-ons</span> page and install some.
        </p>
        <p>Go through the tutorial for futher guidance.</p>
      </div>
    </template>

  </main>

  <footer class="mainhome">
    <div class="line"></div>
    <div class="links">
      <oh-login-status-link class="ml-auto invisible" style="min-width: 220px;min-height: 20px;text-align: right;">
        <a slot="connected" href="login.html">Logout from <span class="hostname"></span></a>
        <div slot="disconnected"><span class="hostname"></span> - <a href="login.html">Connection
            failed</a></div>
      </oh-login-status-link>
      <a class="mx-4" href="about.html">About | Open Source Attributions</a>
    </div>
    <a style="position: fixed;bottom: 50px;left:50px;width: 100px;height: 100px;display: flex;text-align: center;justify-content: center"
      class="card first" href="roadmap.html">
      THIS IS A DESIGN STUDY!
    </a>
  </footer>

  <aside class="mainhome">
    <h4>
      <span>Latest announcements</span>
      <oh-doc-link target="#latesttopics" reload><a href="#"><i class="fas fa-sync-alt"></i></a></oh-doc-link>
    </h4>
    <ui-community-topics id="latesttopics" class="sidebar hover" topics="c/announcements/l/latest" order="created"
      limit="2"></ui-community-topics>
    <h4>
      <span>Conventions &amp; Events</span>
      <oh-doc-link target="#conventions" reload><a href="#"><i class="fas fa-sync-alt"></i></a></oh-doc-link>
    </h4>
    <ui-community-topics id="conventions" class="sidebar hover" topics="c/organisation/events/l/latest" order="created"
      limit="4"></ui-community-topics>
  </aside>
</body>

</html>
