<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <partial src="itemsnav.html"></partial>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Add &amp; remove Items. Change tags, titles and Group affiliations"></partial>
  <main>
    <div>Lorem ipsum</div>
    <div id="itemsapp"></div>
    <template id="postTemplate">
      <div>
        <ul>
          <li v-for="post in posts">{{post.title}}:<div>{{post.body}}</div>
          </li>
        </ul>
        <p v-if="pending.posts">loading posts...</p>
        <p v-if="error.posts">loading failed</p>
      </div>
    </template>
  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="items"></partial>
  <script type="module" src="js/items.js" async></script>
</body>

</html>