<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <nav></nav>
  <partial src="mainnav.html"></partial>
  <section class="header">
    <h4>Connect to openHAB Server</h4>
  </section>
  <main style="justify-content: center;">
    <style>
      @keyframes wronglog {
        0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
      }
        .wronglog {
          animation: wronglog 0.7s;
        }
    </style>
    <oh-vue-bind adapter="modeladapter_mixins/login"></oh-vue-bind>
    <oh-vue></oh-vue>
    <template>
      <div>
        <h4 class="text-center">You are currently: <mark v-if="connected">Connected</mark>
          <mark v-else>Not connected ({{connectionStatus}})</mark></h4>
        <form class="card centeredsmallcard" :class="{wronglog:notconnectedpulse}" @submit="submitted">
          <div class="text-center">
            <h4 class="text-dark">openHAB Server</h4>
            <p class="text-muted">Please enter your openHAB network address<span v-if="credentialsRequired">, username
                and password</span>!</p>
          </div>
          <div class="form-group">
            <label class="w-100">Host (<span class="text-muted">Enter "demo" for a demo data set.</span>)
              <input :class="{'text-danger':notconnected}" class="form-control" name="host" v-model="host" placeholder="Host">
            </label>
          </div>
          <div v-if="credentialsRequired" class="form-group"> User credentials <label class="w-100"><input type="username"
                class="form-control" id="inputUsername" placeholder="User name"></label>
            <label class="w-100"></label><input type="password" class="form-control" id="inputPassword" placeholder="Password"></label>
            <div class="my-2">
              <a target="_blank" href="https://www.openhab.org/docs/installation/security.html#authentication-and-access-control">Why
                do I need to enter credentials?</a>
            </div>
          </div>
          <div v-if="crossorigin" class="my-2">
            <details class="alert alert-info" role="alert">
              <summary>Your openHAB installation does not allow access from another domain.</summary>
              <p class="mt-2">If you do not use a reverse proxy:<br> Please add <q>org.eclipse.smarthome.cors:enable=true</q>
                to your <code>services.cfg</code> file. </p>
              <p>If you do use a reverse proxy (openhabian!):<br> Add the following lines to
                `/etc/nginx/sites-enabled/openhab`:
                <pre>
server {
    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow_Credentials' 'true' always;
    add_header 'Access-Control-Allow-Headers' 'Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range' always;
    add_header 'Access-Control-Allow-Methods' 'GET,POST,OPTIONS,PUT,DELETE,PATCH' always;
    ...
}
</pre>
              </p>
            </details>
          </div>
          <button type="submit" :class="{disabled:connecting}" class="btn btn-orange w-100">Login</button>
        </form>
        <div class="centeredsmallcard mt-0 p-1 card" v-if="hostedapp">
          Although you have apparently accessed this application from an external webpage,
          it can only find and access your network internal openHAB installation.
          <mark>No openHAB data is leaving your network at any time.</mark>
        </div>
        <div class="card centeredsmallcard mt-0 text-right p-3" style="display: flex;flex-direction: row;">
          <div v-if="dumpError" style="flex:1;">{{dumpError}}</div>
          <progress v-else max="100" min="0" :value="dumpProgress" style="flex:1;height: initial;"></progress>
          <button class="ml-2 btn btn-primary" :class="{disabled: dumpInProgress}" @click="dump">Export openHAB data</button>
        </div>
      </div>
    </template>
  </main>
  <footer></footer>
  <aside></aside>
</body>

</html>
