<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/maintenance.css" type="text/css" />
  <script type="module" src="js/ui-time-graph.js"></script>
  <partial src="maintenancenav.html"></partial>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Configure services, adjust preferences and check the application health"></partial>
  <main>

    <oh-form-bind adapter="modeladapter_forms/distributioninfo" objectid=""></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <section>
        <div class="card my-4">
          <div class="card-body">
            <div class="row">
              <div class="card-text col-sm mb-0">
                <div>Your {{value.name}} version is: {{value.version}} - {{new
                  Date(value.builddate).toLocaleDateString()}}</div>
                <div v-if="value.distribution">Your {{value.name}} distribution: {{value.distribution.name}}
                  {{value.distribution.version}}</div>
              </div>
              <div class="col-md-auto text-right">
                <a class="btn btn-primary-hover" href="changelog.html">Changelog</a>
                <a v-if="value.distribution" class="btn btn-primary-hover" target="_blank" :href="value.distribution.url">About
                  {{value.distribution.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </template>

    <oh-form-bind adapter="modeladapter_forms/service" mixin="modeladapter_mixins/ltsGraphs" objectid="org.openhab.longtimestability"></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <section>
        <h4>{{value.label}}</h4>

        <div class="graphs mb-4">
          <oh-websocket-data id="ltsGraphs" :href="value.config ? value.config.websocketPort : ''" simulation="modelsimulation/ltsGraphs"
            @data="newData"></oh-websocket-data>
          <ui-time-graph ref="memory" color="green" views="Hour,Day,Week" maxdata="20" label="Memory in MB"></ui-time-graph>
          <ui-time-graph ref="cpu" color="red" views="Hour,Day,Week" maxdata="20" label="CPU in %"></ui-time-graph>
          <ui-time-graph ref="threads" color="blue" views="Hour,Day,Week" maxdata="20" label="# Threads"></ui-time-graph>
        </div>
        <template v-if="value.status && value.status.extended">
          <div class="mb-4" v-for="extended of value.status.extended" v-if="extended.id!='warning'">
            <span>{{extended.label}}</span>:
            <span>{{extended.value}}</span>
          </div>
          <div v-for="extended of value.status.extended" v-if="extended.id=='warning'" class="bs-callout bs-callout-warning mb-4">
            <button class="float-right btn btn-primary" title="Accept the new memory average"><i class="fas fa-check"></i></button>
            {{extended.label}}: {{extended.value}}
            <a :href="'service_config.html?id='+value.id+'&title='+value.label">Configure thresholds</a>
          </div>
        </template>
        <p>
          <button v-if="value.actions" v-for="action of value.actions" class="btn btn-primary-hover mr-2" :title="action.description"
            @click="action(action.id)">
            {{action.label}}
          </button>
        </p>
      </section>
    </template>

    <oh-form-bind adapter="modeladapter_forms/service" objectid="org.openhab.backup"></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <section>
        <h4>{{value.label}}</h4>
        <table class="table table-hover table-sm">
          <tbody>
            <tr :title="statusDetails">
              <td>Status</td>
              <td><i :class="statusBadge">{{statusinfo}}</i> <span>{{statusDetails}}</span></td>
            </tr>
            <template v-if="value.status && value.status.extended">
              <tr v-for="extended of value.status.extended">
                <td>{{extended.label}}</td>
                <td>{{extended.value}}</td>
              </tr>
            </template>
          </tbody>
        </table>
        <p>
          <button v-if="value.actions" v-for="action of value.actions" class="btn btn-primary-hover mr-2" :title="action.description"
            @click="action(action.id)">
            {{action.label}}
          </button>
        </p>
      </section>
    </template>

    <oh-form-bind adapter="modeladapter_forms/osgibundles" objectid=""></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <section class="bundles mb-4">
        <h4>Running bundles</h4>
        <div class="btnbar m-2">
          <button class="btn btn-primary-hover btn-sm" style="justify-self: flex-start" @click.prevent="reload">Reload</button>
          <div style="flex:1"></div>
          <span>Show bundles from:</span>
          <ui-switch class="ml-3" label="Core" :value.prop="core" @input="core=$event.target.value"></ui-switch>
          <ui-switch class="ml-3" label="Add-ons" :value.prop="addons" @input="addons=$event.target.value"></ui-switch>
          <ui-switch class="ml-3" label="Auxilary" :value.prop="aux" @input="aux=$event.target.value"></ui-switch>
        </div>
        <div class="maxheight">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>State</th>
                <th>Lvl</th>
                <th>Version</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of filtered">
                <td>{{item.id}}</td>
                <td>
                  <a href="#" @click.prevent="start(item)" class="mr-2"><i class="fas fa-play"></i></a>
                  <a href="#" @click.prevent="restart(item)" class="mr-2"><i class="fas fa-redo"></i></a>
                  <a href="#" @click.prevent="stop(item)" class="mr-2"><i class="fas fa-stop"></i></a>
                  {{item.state}}
                </td>
                <td>{{item.lvl}}</td>
                <td>{{item.version}}</td>
                <td>{{item.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </template>
  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="maintenance"></partial>
</body>

</html>
