<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="rules.html" data-title="Rule list" data-idkey="uid" />
</head>

<body>
  <link rel="stylesheet" href="css/rule.css" type="text/css" />
  <link rel="stylesheet" href="css/config.css" type="text/css" />
  <script type="module" src="js/ui-maps.js" async></script>
  <script type="module" src="js/ui-time-picker.js" async></script>
  <script type="module" src="js/ui-cron-expression.js" async></script>
  <script type="module" src="js/ui-maps.js" async></script>
  <script type="module" src="js/rule.js" async></script>

  <nav class="sidebar leftright w-100 rule">

    <oh-list-bind for="componentslist" adapter="modeladapter_lists/modules" filtercriteria="label"></oh-list-bind>
    <oh-vue-list id="componentslist">
      <div slot="app">
        <list></list>
      </div>
      <template slot="list">
        <partial src="vuelisterrors.html"></partial>
        <div slot="app" v-else>
          <input class="form-control my-2 mx-4 search" type="search" name="filter" placeholder="Search" title="Enter a search string"
            @input="filter = $event.target.value.trim()">
          <h4 class="trigger">Rule triggers</h4>
          <div class="moduletypelist">
            <oh-vue-listitem v-for="item in triggersFiltered" v-if="item.visibility!='EXPERT'" :key="item.uid"
              :listitem="item"></oh-vue-listitem>
          </div>
          <h4 class="condition">Rule conditions</h4>
          <div class="moduletypelist">
            <oh-vue-listitem v-for="item in conditionsFiltered" v-if="item.visibility!='EXPERT'" :key="item.uid"
              :listitem="item"></oh-vue-listitem>
          </div>
          <h4 class="action">Rule actions</h4>
          <div class="moduletypelist">
            <oh-vue-listitem v-for="item in actionsFiltered" v-if="item.visibility!='EXPERT'" :key="item.uid" :listitem="item"></oh-vue-listitem>
          </div>
        </div>
      </template>
      <template slot="item">
        <button class="moduletype btn" :class="[{'btn-success-hover':isTrigger},{'btn-info-hover':isCondition},{'btn-danger-hover':isAction}]"
          draggable="true" @dragstart="dragstart" @dblclick="addToEditor" :data-uid="item.uid" :title="item.description">
          {{item.label}}
        </button>
      </template>
    </oh-vue-list>

  </nav>

  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Add / Edit rule"></partial>

  <main class="rule">

    <!-- Modal Dialog for an embedded code editor. Hidden by default. Shown if url ends on #editor -->
    <div id="editor" class="modal fullscreen" role="dialog">
      <div class="modal-dialog" role="document" id="scripteditor">
      </div>
    </div>

    <oh-form-bind adapter="modeladapter_forms/rule" objectFromURL allowNew></oh-form-bind>
    <oh-vue-form class="fullflex"></oh-vue-form>
    <template>
      <div class="fullflex">

        <!-- As soon as "nodescript" is set, we will render a code-editor into the modal dialog,
             defined above. We use vue-portal to render outside of the vue controlled dom element. -->
        <portal v-if="nodescript" name="editor" target-el="#scripteditor" breakshadow slim>
          <div class="snippets">
            <h4>Snippets</h4>
            <p>Find a list of {{nodescript.language}} snippets below. Just click one to insert the snippet at your
              current cursor position.</p>
            <oh-script-snippets target="codeeditor" :language="nodescript.language"></oh-script-snippets>
            <h4>Libraries</h4>
            <p>You can install additional libraries in the Add-ons section. Please consult the library documentation
              for usage information.
            </p>
          </div>

          <div class="buttonbar m-2">
            <ui-switch documentevent="themechange" storekey="darktheme" label="Dark theme"></ui-switch>
            <span class="ml-auto"></span>
            <a class="btn btn-secondary-hover" @click="generateCommunityHelpLink" href="#">
              <i class="fas fa-help"></i> Community help</a>
            <div class="btn-group ml-2">
              <button ref="undo" class="btn btn-secondary-hover" @click.prevent="$refs.codeeditor.undo()" disabled><i
                  class="fas fa-undo"></i></button>
              <button ref="redo" class="btn btn-secondary-hover" @click.prevent="$refs.codeeditor.redo()" disabled><i
                  class="fas fa-redo"></i></button>
            </div>
            <a class="btn btn-success ml-2" href="#">Close editor</a>
          </div>

          <ui-codeeditor themechangeevent="themechange" ref="codeeditor" id="codeeditor" :content.prop="nodescript"
            @state="editorContentChanged($event.target.content)" @redoavailable="$refs.redo.disabled=!$event.detail"
            @undoavailable="$refs.undo.disabled=!$event.detail"></ui-codeeditor>
        </portal>

        <form data-no-reload="" class="was-validated">
          <label for="rulename">Rule name</label>
          <input type="text" class="form-control" name="name" id="rulename" pattern=".{1,}" autocomplete="off"
            autocorrect="off" autocapitalize="off" required placeholder="Your rule name goes here" v-model="valuecopy.name">

          <label><abbr title="Reference this Rule via this identifier">UID</abbr></label>
          <div class="form-control" id="ruleuid" title="Copy to clipboard" @click="copyClipboard($event, value.uid)">{{value.uid}}</div>

          <label for="ruledescription">Description</label>
          <input type="text" class="form-control" name="description" id="ruledescription" pattern=".{1,}" required
            placeholder="Rule description" autocomplete="off" autocorrect="off" autocapitalize="off" v-model="valuecopy.description">

          <label for="ruletags">Tags</label>
          <ui-tags class="form-control" name="tags" id="ruletags" :value.prop="valuecopy.tags" @input="valuecopy.tags=$event.target.value"></ui-tags>

          <div class="buttons">
            <template v-if="isNew">
              <button class="btn btn-primary" :class="{disabled:cannotcreate}" @click.prevent="create($event.target)">
                <i class="fas fa-plus"></i> Create</button>
            </template>
            <template v-else>
              <a class="btn btn-secondary-hover" @click="generateCommunityHelpLink" href="#">
                <i class="fas fa-help"></i> Community help</a>
              <button class="btn btn-secondary-hover" :class="{disabled:unchanged}" target="_blank" @click.prevent="undo"
                title="Undo">
                <i class="fas fa-undo"></i></button>
              <button class="btn btn-primary" :class="{disabled:unchanged}" @click.prevent="save">
                <i class="fas fa-save"></i> Save</button>
              <button class="btn btn-success" :class="{disabled:changed}" @click.prevent="run">
                <i class="fas fa-check"></i> <span>Run</span> <span class="badge badge-light">{{status}}</span></button>
            </template>
          </div>
        </form>
        <oh-rule-editor rule-node-template="rulenode" :rule.prop="valuecopy" :moduletypes.prop="moduletypes" @input="setChanged"
          @showeditor="showEditor" ref="ruleeditor"></oh-rule-editor>
      </div>
    </template>

    <template id="rulenode">
      <div class="node" :class="classes">
        <div class="title">
          <div contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
            @changed="changed=true" @blur="node.data.label=$event.target.innerText">{{node.data.label}}</div>
          <div contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
            @changed="changed=true" @blur="node.data.description=$event.target.innerText">{{node.data.description}}</div>
        </div>

        <!-- Outputs -->
        <div class="output">
          <div v-for="output in outputs()" :key="output.key" :title="output.socket.name + '\n' + output.socket.data.hint">
            <div class="output-title">{{output.name}}</div>
            <div class="socket output" :class="sanitizedName(output.name)" v-socket:output="output"></div>
          </div>
        </div>
        <!-- Controls -->
        <div class="control">
          <template class="control" v-for="control in controls(2)">
            <label :title="control.description">{{control.label}}</label>
            <vue-config-element :param="control.desc" v-model="control.value" :condensed="true"></vue-config-element>
          </template>
        </div>
        <!-- Inputs -->
        <div class="input">
          <div v-for="input in inputs()" :key="input.key" :title="input.socket.name + '\n' + input.socket.data.hint">
            <div class="socket input" :class="sanitizedName(input.name)" v-socket:input="input"></div>
            <div class="input-title">{{input.name}}</div>
          </div>
        </div>
        <div class="actions">
          <button v-if="node.data.type=='action' && !isfirst" @click="move(-1)" title="Earlier" class="btn btn-outline-secondary text-nowrap">
            <i class="fas fa-angle-left"></i><span class="ml-2"></span></button>
          <button v-if="node.data.type=='action' && !islast" @click="move(1)" title="Later" class="btn btn-outline-secondary text-nowrap">
            <i class="fas fa-angle-right"></i><span class="ml-2"></span></button>
          <span class="ml-auto"></span>
          <button v-if="hasmore" @click="edit" class="btn btn-outline-secondary text-nowrap">
            <i class="fas fa-trash"></i><span class="ml-2">Edit full component</span></button>
          <button @click="remove" class="btn btn-outline-danger text-nowrap">
            <i class="fas fa-trash"></i><span class="ml-2">Remove</span></button>
        </div>
      </div>
    </template>
  </main>

  <footer></footer>
  <partial src="contexthelp.html" help="rule"></partial>
</body>

</html>
