<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/items.css" type="text/css" />
  <nav class="sidebar leftright">
    <h4>Actions</h4>
    <ul class="exact">
      <li><a href="script.html"><i class="fas fa-plus"></i> New Script</a></li>
    </ul>
  </nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Manage, add, remove and modify your automation rules"></partial>
  <main>
    <ui-filter class="mt-4" placeholder="Filter..." grid="Grid view" list="List view" select="Selection mode">
      <div class="btn-group ml-3" role="group">
        <a href="#" class="btn btn-danger">
          <i class="fas fa-trash"></i> <span>Remove <span class="badge badge-light selectcounter">0</span></span>
        </a>
        <a href="#" class="btn btn-success ">
          <i class="fas fa-check"></i> <span>Run <span class="badge badge-light selectcounter">0</span></span>
        </a>
      </div>
    </ui-filter>

    <oh-list-bind for="scriptslist" listhelper="scripts"></oh-list-bind>

    <oh-vue-list id="scriptslist" filtercriteria="name" class="listwithouteditor">
      <div slot="app"></div>

      <template slot="list">
        <partial src="listerror.html"></partial>
        <div v-else id="listcontainer" :class="containerclasses" @click="updateSelectCounter">
          <oh-vue-listitem v-for="item in filtered" :key="item.UID" :listitem="item"></oh-vue-listitem>
          <div v-if="hasMore" class="text-center"><button class="btn btn-primary-hover" @click="showMore()">Show
              50 more &hellip;</button></div>
        </div>
      </template>

      <template slot="item">
        <transition name="fade">
          <section class="listitem" :id="item.filename" :class="[{haschanges: changed},{storingmode: storing}]">
            <div class="body">
              <div class="title">
                <span :title="item.label">{{item.name}}</span>
                <span class="actions btn-group">
                  <button class="btn btn-danger-hover btn-sm" title="Remove item" @click="remove(item)"><i class="fas fa-trash"></i></button>
                </span>
              </div>
              <section class="description">
                Filename: <code>{{item.filename}}</code>
              </section>
            </div>
            <div class="footer small py-1 px-3">
              <a class="ml-auto" :href="'script.html?file='+encodeURIComponent(item.filename)"><i class="fas fa-cog"></i>
                <span>Edit</span></a>
            </div>
          </section>
        </transition>
      </template>
    </oh-vue-list>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="scripts"></partial>
</body>

</html>