<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="maintenance.html" />
</head>

<body>
  <link rel="stylesheet" href="css/config.css">
  <partial src="maintenancenav.html"></partial>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Service configuration"></partial>
  <main>
    <oh-prop-bind attribute="filter" queryParameter="id"></oh-prop-bind>
    <ui-github-issues class="bs-callout bs-callout-danger" label="There are known issues with this service:" url="https://api.github.com/repos/openhab/openhab2-addons/issues"></ui-github-issues>

    <oh-form-bind adapter="modeladapter_forms/service" objectFromURL></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <partial src="vuelisterrors.html"></partial>
      <div v-else>
        <div class="mt-2">This service is currently <i class="badge badge-success">Running</i></div>
        <section class="config mt-2">
          <h4>Logging level</h4>
          <div class="element radio-button-group" role="group">
            <label class="radio-button"><input type="radio" name="loglevel" value="trace" v-model="value.loglevel" /><span>Trace</span></label>
            <label class="radio-button"><input type="radio" name="loglevel" value="info" v-model="value.loglevel" /><span>Info</span></label>
            <label class="radio-button"><input type="radio" name="loglevel" value="debug" v-model="value.loglevel" /><span>Debug</span></label>
            <label class="radio-button"><input type="radio" name="loglevel" value="warn" v-model="value.loglevel" /><span>Only
                warning &amp; errors</span></label>
          </div>
        </section>
        <div class="config" v-if="!configuration">No further configuration available</div>
        <section class="config" v-else>
          <h4>Configuration</h4>
          <div class="elements">
            <template v-for="param in configuration.parameters">
              <vue-config-element :param="param" :value="getConfigValue(param)" @input="setConfigValue"></vue-config-element>
              <label class="form-text text-muted small" :title="param.description">{{param.name}}</label>
              <button v-if="getConfigValue(param)" title="Reset to default" class="btn btn-outline-danger btn-sm resetdefault"
                @click.prevent="removeConfigValue(param)">
                <i class="fas fa-undo"></i> </button>
            </template>
          </div>
        </section>
        <div class="btn-group btnbar mt-4" role="group">
          <a :href="'logview.html?filter='+value.id" class="btn btn-secondary"><i class="fas fa-align-justify"></i>
            Show log</a>
          <button type="submit" href="#" class="btn btn-primary" :class="{disabled:unchanged}"><i class="fas fa-save"></i>
            Save</botton>
        </div>
      </div>
    </template>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="service"></partial>
</body>

</html>
