<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="things.html" data-title="Thing list" data-keyid="UID" />
</head>

<body>
  <link rel="stylesheet" href="css/config.css" type="text/css" />
  <link rel="stylesheet" href="css/listgridview.css" type="text/css" />
  <link rel="stylesheet" href="css/thingchannels.css" type="text/css" />

  <nav class="sidebar leftright">
    <div class="wrapper fixedwrapper">
      <div id="thingdescription" class="wrapper fixedwrapper mt-3"></div>
      <p>Actions</p>
      <ul id="additionalactions">
      </ul>
    </div>
    <div id="newchannels" class="wrapper fixedwrapper mt-3"></div>
  </nav>

  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Thing Channels"></partial>

  <main>

    <ui-filter class="mt-4" placeholder="Filter..." grid="Grid view" list="List view" textual="Textual representation"
      select="Selection mode">
      <button class="btn btn-danger" data-action="remove">
        <i class="fas fa-check"></i> Create missing links
        <oh-event-bind eventName="selectionchanged" setcontent></oh-event-bind>
        <span class="badge badge-light ml-2">0</span>
      </button>
    </ui-filter>

    <oh-list-bind adapter="modeladapter_lists/thing-channels" filtercriteria="label" objectFromURL></oh-list-bind>
    <oh-vue-list>

      <div slot="app">
        <list>
          <template #empty>
            <p>No channels found.</p>
          </template>

          <template #beforelist="{list}">
            <ui-github-issues v-if="list.bindingid" :filter="list.bindingid" class="bs-callout bs-callout-danger mt-4"
              label="There are known issues with the binding that provides this Thing" url="https://api.github.com/repos/openhab/openhab2-addons/issues"></ui-github-issues>
          </template>

          <template #afterlist="{list}">

            <div v-if="list.items && list.items.length>0" class="btn-group btnbar my-2" role="group">
              <button href="#" @click.prevent="save" class="btn btn-primary" :class="{disabled:list.unchanged}">
                <i class="fas fa-save"></i> Save</button>
            </div>

            <portal target-el="#additionalactions" breakshadow slim>
              <li><a href="#" @click.prevent="save" :class="{disabled:list.unchanged}">
                  <i class="fas fa-save"></i> Save changes</a></li>
              <li><a :href="'thing_configuration.html?UID='+list.value.UID">
                  <i class="fas fa-external-link-alt"></i> Configure Thing</a></li>
            </portal>

            <portal v-if="list.extensibleChannelTypeIds.length" target-el="#newchannels" breakshadow slim>
              <p>Create a new Channel</p>
              <input style="display: block" placeholder="Channel label" v-model="list.newchannel.label"
                v-on:keyup.enter="create">
              <ui-dropdown :options.prop="list.extensibleChannelTypeIds" title="Select a channel-type" viewkey="label"
                desckey="description" valuekey="UID" label="Channel-Type" @input="list.newchannel.channelTypeUID=$event.target.value"></ui-dropdown>
              <button class="btn btn-outline-success" @click.prevent="create">Create</button>
            </portal>

            <portal v-if="list.hasDescription" target-el="#thingdescription" breakshadow slim>
              <div class="bs-callout bs-callout-info" style="    width: min-content; min-width: 100%; padding: 10px;">{{list.description()}}</div>
            </portal>

          </template>
        </list>
      </div>

      <partial src="vuelistbasics.html" KEY="id" help="help"></partial>

      <template slot="item">
        <article :id="item.id.replace(/[:#]/g,'_')" :class="[{pulseAnimation: pulseAnimation}]">
          <vue-inprogress></vue-inprogress>
          <header class="title">
            <span :title="item.label" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off"
              spellcheck="false" @blur="item.label=$event.target.textContent" style="display: inline-block;min-width: 80px;">{{item.label}}</span>
            <div class="text-muted small">{{channelDescription()}}</div>
          </header>
          <section class="actions btn-group">
            <oh-doc-link show class="btn btn-outline-secondary" style="cursor: pointer" href="thing_channels_technical.fragment.html"
              :context.prop='technical()' title="Technical details">
              <i class="fas fa-info"></i>
            </oh-doc-link>
            <button v-if="item.isExtended" class="btn btn-outline-danger" title="Remove item" @click="remove()"><i
                class="fas fa-trash"></i></button>
          </section>
          <section class="description py-0">
            <div v-if="!configurationParameters()">No fuher configuration available</div>
            <div class="elements" v-else>
              <template v-for="param in configurationParameters()">
                <vue-config-element :param="param" :value="getConfigValue(param)" @input="setConfigValue"></vue-config-element>
                <label class="form-text text-muted small" :title="param.description">{{param.name}}</label>
                <button v-if="getConfigValue(param)" title="Reset to default" class="btn btn-outline-danger btn-sm resetdefault"
                  @click.prevent="removeConfigValue(param)">
                  <i class="fas fa-undo"></i> </button>
              </template>
            </div>

            <div class="links">
              <div>An item <small>(item id)</small></div>
              <ui-dropdown v-dynamicload:profile-types="" title="Profile" viewkey="label" desckey="description"
                valuekey="uid" label="Profile"></ui-dropdown>
              <oh-doc-link show href="contexthelp/profiles.md" class="link"><i class="far fa-question-circle"></i></oh-doc-link>
              <td></td><button class="btn btn-danger-hover btn-sm text-nowrap"><i class="fas fa-trash"></i> Remove</button></td>
            </div>
          </section>
          <footer>

            <ui-dropdown v-dynamicload:items="" class="ml-auto" label="Item" viewkey="label" desckey="name" valuekey="name"
              label="Select item"></ui-dropdown>
            <ui-dropdown v-dynamicload:profile-types="" title="Profile" viewkey="label" desckey="description" valuekey="uid"
              value="system:default"></ui-dropdown>
            <button class="btn btn-outline-success text-nowrap">Create link</button>
          </footer>
        </article>
      </template>
    </oh-vue-list>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="thingchannels"></partial>
</body>

</html>
