<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="things.html" />
</head>

<body>
  <link rel="stylesheet" href="css/config.css">
  <nav></nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Thing Configuration"></partial>
  <main>
    <nav-breadcrumb parent="Thing list" useParamAsHash="UID"></nav-breadcrumb>
    <oh-attribute-bind attribute="filter" queryParameter="UID" regex="(.*?)\:"></oh-attribute-bind>
    <oh-github-issues class="bs-callout bs-callout-danger" title="There are known issues with this binding:" url="https://api.github.com/repos/openhab/openhab2-addons/issues"></oh-github-issues>
    <oh-form-bind adapter="thing" objectFromURL allowNew></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <partial src="vuelisterrors.html"></partial>
      <div v-else>
        <div class="bs-callout bs-callout-info"> {{description()}} </div>
        <div class="mt-4" class="form-group row">
          <div class="col-sm-10" style="display:flex">
            <ui-switch name="enabled" checked="true" label="Enabled" title="A disabled thing will not connect to its peer device"></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="timername" class="col-sm-2 col-form-label">Thing label</label>
          <div class="col-sm-10">
            <input autofocus type="text" class="form-control" name="timername" id="timername" pattern=".{1,}" required
              placeholder="Thing label" v-model="objectdata.label">
          </div>
        </div>
        <div class="form-group row">
          <label for="timerid" class="col-sm-2 col-form-label">Location</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="timerid" id="timerid" pattern="[^\s]+" required placeholder="Location"
              v-model="objectdata.location">
          </div>
        </div>
        <div class="form-group row" v-if="!objectdata.UID">
          <label for="timerid" class="col-sm-2 col-form-label">Thing Type</label>
          <div class="col-sm-10">
            <oh-dropdown-bind viewkey="UID" viewvalue="label" listadapter="thing-types"></oh-dropdown-bind>
            <ui-dropdown title="Thing types" label="Select a thing type"></ui-dropdown>
          </div>
        </div>
        <section class="config">
          <h4 title="org.openhab.addons">Configuration</h4>
          <div v-if="configurations().length==0">No configuration available</div>
          <partial src="vue-config-elements.html"></partial>
        </section>
        <div class="btn-group btnbar mt-4" role="group">
          <button type="submit" href="#" class="btn btn-primary" :class="{disabled:unchanged}"><i class="fas fa-save"></i>
            {{objectdata.UID?'Save':'Create'}}</botton>
        </div>
      </div>
    </template>
  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="thingconfig"></partial>
</body>

</html>
