<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="things.html" />
</head>

<body>
  <link rel="stylesheet" href="css/config.css">

  <nav></nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Thing Configuration"></partial>
  <main>

    <nav-breadcrumb parent="Thing list" useParamAsHash="UID"></nav-breadcrumb>

    <oh-attribute-bind attribute="filter" queryParameter="UID" regex="(.*?)\:"></oh-attribute-bind>
    <oh-github-issues class="bs-callout bs-callout-danger" title="There are known issues with this binding:" url="https://api.github.com/repos/openhab/openhab2-addons/issues"></oh-github-issues>

    <oh-form-bind adapter="formadapter/thing" objectFromURL allowNew></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <partial src="vuelisterrors.html"></partial>
      <div v-else>
        <div class="bs-callout bs-callout-info"> {{description()}} </div>
        <div class="mt-4" class="form-group row">
          <div class="col-sm-10" style="display:flex">
            <ui-switch name="enabled" checked="true" label="Enabled" title="A disabled thing will not connect to its peer device"></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="timername" class="col-sm-2 col-form-label">Thing label</label>
          <div class="col-sm-10">
            <input autofocus type="text" class="form-control" name="timername" id="timername" pattern=".{1,}" required
              placeholder="Thing label" v-model="value.label">
          </div>
        </div>
        <div class="form-group row" v-if="!value.UID">
          <label for="thingtype" class="col-sm-2 col-form-label">Thing Type</label>
          <div class="col-sm-10">
            <oh-dropdown-bind adapter="listadapter/thing-types"></oh-dropdown-bind>
            <ui-dropdown name="thingtype" title="Thing types" viewkey="label" valuekey="UID" label="Select a thing type"></ui-dropdown>
          </div>
        </div>
        <div class="config" v-if="!configurationParameters">No further configuration available</div>
        <section class="config" v-else>
          <h4>Configuration</h4>
          <div class="elements">
            <vue-config-element v-for="param in configurationParameters" :key="param.name" :param="param" :value="thingConfig(param)"></vue-config-element>
          </div>
        </section>
        <div class="btn-group btnbar mt-4" role="group">
          <button type="submit" href="#" class="btn btn-primary" :class="{disabled:unchanged}"><i class="fas fa-save"></i>
            {{value.UID?'Save':'Create'}}</botton>
        </div>
      </div>
    </template>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="thingconfig"></partial>
</body>

</html>
