<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/items.css" type="text/css" />
  <script type="module" src="js/things.js"></script>
  <nav class="sidebar leftright">
    <h4>Actions</h4>
    <ul>
      <li><a href="#add">Add Thing</a></li>
    </ul>
    <p>Predefined filters</p>
    <ul>
      <li><a href="#status=online">All Online Things</a></li>
      <li><a href="#status=offline">All Offline Things</a></li>
      <li><a href="#status=offline&statusdetail=configuration_required">Configuration required</a></li>
    </ul>
  </nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Manage and configure your Things or add Things manually"></partial>
  <main>
    <ui-filter class="mt-4" placeholder="Filter..." grid="Grid view" list="List view" textual="Textual representation"
      select="Selection mode">
      <a href="#" class="btn btn-danger ml-3">
        <i class="fas fa-trash"></i> <span>Remove <span class="badge badge-light selectcounter">0</span></span>
      </a>
    </ui-filter>

    <oh-vue-list-items id="thingsapp" template="listThingsTemplate" filtercriteria="label" onload="if (window.loadThings) loadThings(this)"></oh-vue-list-items>

    <template id="listThingsTemplate">
      <div id="listcontainer" :class="containerclasses" @click="updateSelectCounter">
        <div class="listitem" v-for="item in filtered" :class="[{haschanges: item.changed_},{storingmode: item.storing_}]">
          <div class="body ui-dropdown">
            <div class="title">
              <span class="secondLevelBtn" :title="item.label" onclick='this.parentNode.parentNode.classList.toggle("show");'>
                {{item.label}}
              </span>
              <i :title="statusDetails(item)" :class="statusBadge(item)">{{statusinfo(item)}}</i>
              <span class="actions unsaved btn-group">
                <button class="btn btn-success" title="Save changes" @click="save(item)"><i class="fas fa-save"></i></button>
                <button class="btn btn-danger" title="Discard changes" @click="discard(item)"><i class="fas fa-undo"></i></button>
              </span>
              <span class="actions btn-group">
                <button class="btn btn-danger-hover" title="Remove item" @click="remove(item)"><i class="fas fa-trash"></i></button>
              </span>
            </div>
            <div class="secondlevel">
              <div>{{statusmessage(item)}}</div>
              <abbr title="This is the item ID. Reference an Item in Rules and Scripts via the ID.">ID:</abbr>
              <span @click="copyClipboard($event, item.UID)">{{item.UID}}</span>
              <div>Storage association: <input value="openhab"></div>
            </div>
            <section class="description">
              <span>{{description(item)}}</span>
            </section>
            <section class="actions">
              <span class="btn-group" role="group">
                <a :href="'thing_channels.html?uid='+encodeURIComponent(item.UID)" class="btn btn-secondary"><i class="fas fa-cog"></i>
                  <span>Channels</span></a>
                <oh-doc-link show class="btn btn-info" href="thing_properties.fragment.html" :context.prop='item.properties'>
                  <i class="fas fa-clipboard-list"></i> <span>Properties</span>
                </oh-doc-link>
              </span>
              <ui-dropdown class="float-right" :data-uid="item.UID" novalue value="Actions" :options.prop="getActions(item)"
                @input="triggerAction"></ui-dropdown>
            </section>
          </div>
        </div>
        <p v-if="pending">loading items...</p>
        <p v-if="error">loading failed</p>
        <oh-codeeditor v-if="viewmode=='textual'" :class="editorclasses" :modelschema.prop="modelschema" :content.prop="toTextual()"
          @state="editorstateChanged"></oh-codeeditor>
      </div>
    </template>
  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="things"></partial>
</body>

</html>