<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="things.html" />
</head>

<body>
  <link rel="stylesheet" href="css/thingchannels.css" type="text/css" />
  <nav class="sidebar leftright">
    <h4>Actions</h4>
    <ul>
      <li><a href="#"><i class="fas fa-plus"></i> Add channel</a></li>
      <li><a href="#"><i class="fas fa-redo"></i> Synchronize channels</a></li>
      <li>
        <hr>
      </li>
      <li><a href="#" class="disabled"><i class="fas fa-save"></i> Save changes</a></li>
    </ul>
  </nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Thing Channels"></partial>
  <main>
    <nav-breadcrumb parent="Thing list" useParamAsHash="UID"></nav-breadcrumb>
    <oh-form-bind adapter="formadapter/thing" objectFromURL></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <partial src="vuelisterrors.html"></partial>
      <div v-else>
        <div id="listcontainer">
          <div v-if="!value.channels || value.channels.length==0">No channels found</div>
          <section v-else v-for="item in value.channels" :key="item.id" :id="item.id">
            <h4 contenteditable="true" @blur="item.label=$event.target.textContent" style="display: inline-block;min-width: 80px;">{{item.label}}</h4>
            <a class="ml-2" href="#"><i class="fas fa-trash"></i></a>
            <div class="ml-3">
              <p>{{description()}}</p>
              <details class="mb-2">
                <summary>Technical details</summary>
                <div class="ml-3 technicaldetails">
                  <b>UID</b> <span>{{item.uid}}</span>
                  <b>Channel Type</b> <span>{{item.channelTypeUID}}</span>
                  <b>Item Type</b> <span>{{item.itemType}}</span>
                  <b>Kind</b> <span>{{item.kind}}</span>
                  <b>Item Tags</b> <span v-for="tag in item.defaultTags">{{tag}} </span>
                </div>
              </details>
              <details class="mb-2">
                <summary>Configuration</summary>
                <div v-if="!configuration()">No fuher configuration available</div>
                <div class="elements" v-else>
                  <vue-config-element v-for="config in configuration().parameters" :config="config"></vue-config-element>
                </div>
              </details>
              <div style="float: left;transform: rotate(270deg);margin-top: 20px;">Links</div>
              <table class="table table-hover linkeditems">
                <tr>
                  <td>An item <small>(item id)</small></td>
                  <td>
                    <oh-dropdown-bind adapter="listadapter/profiles"></oh-dropdown-bind>
                    <ui-dropdown title="Profile" viewkey="label" desckey="description" valuekey="uid" label="Profile"></ui-dropdown>
                    <oh-doc-link show href="contexthelp/profiles.md" class="link"><i class="far fa-question-circle"></i></oh-doc-link>
                  </td>
                  <td><button class="btn btn-danger-hover btn-sm"><i class="fas fa-trash"></i> Remove</button></td>
                </tr>
                <tr class="newitem">
                  <td>
                    <oh-dropdown-bind adapter="listadapter/items"></oh-dropdown-bind>
                    <ui-dropdown label="Item" viewkey="label" desckey="name" valuekey="name" label="Select item"></ui-dropdown>
                  </td>
                  <td>
                    <oh-dropdown-bind adapter="listadapter/profiles"></oh-dropdown-bind>
                    <ui-dropdown title="Profile" viewkey="label" desckey="description" valuekey="uid" value="system:default"></ui-dropdown>
                  </td>
                  <td><button class="btn btn-success-hover btn-sm"><i class="fas fa-check"></i> Add</button></td>
                </tr>
              </table>
            </div>
          </section>
          <div v-if="value.channels && value.channels.length>0" class="btn-group btnbar mb-2" role="group">
            <a href="#" class="btn btn-primary" :class="{disabled:unchanged}"><i class="fas fa-save"></i> Save</a>
          </div>
        </div>
    </template>
  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="thingchannels"></partial>
</body>

</html>
