<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="things.html" data-title="Thing list" data-keyid="UID" />
</head>

<body>
  <script type="module" src="js/ui-maps.js"></script>
  <link rel="stylesheet" href="css/config.css">
  <link rel="stylesheet" href="css/thingchannels.css" type="text/css" />

  <nav class="sidebar leftright">
    <div class="wrapper fixedwrapper">
      <h4>Navigation</h4>
      <ul id="additionalactions">
      </ul>
    </div>
  </nav>

  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Thing Configuration"></partial>

  <main>
    <oh-form-bind adapter="modeladapter_forms/thing" objectFromURL allowNew></oh-form-bind>
    <oh-vue-form></oh-vue-form>
    <template>
      <partial src="vuelisterrors.html"></partial>
      <div v-else>
        <portal target-el="#additionalactions" breakshadow slim>
          <li><a :href="'thing_channels.html?UID='+value.UID">
              <i class="fas fa-external-link-alt"></i> Configure Channels</a></li>
        </portal>


        <div class="callouts">
          <div v-if="hasDescription" class="bs-callout bs-callout-info"> {{description()}} </div>
          <ui-github-issues v-if="bindingid" :filter="bindingid" class="bs-callout bs-callout-danger" label="There are known issues with the binding that provides this Thing"
            url="https://api.github.com/repos/openhab/openhab2-addons/issues"></ui-github-issues>
        </div>

        <div class="statusinfo my-4" v-if="value.statusInfo">
          <ui-switch name="enabled" :value.prop="isEnabled" @input="setEnabled" label="Enabled" title="A disabled thing will not connect to its peer device"></ui-switch>
          <div class="ml-2">
            <i :class="statusBadge">{{statusInfo}}</i>
            <div v-if="value.statusInfo.description">{{value.statusInfo.description}}</div>
          </div>
        </div>

        <form @submit.prevent="false" class="was-validated configheadergrid">
          <label for="thingname">Thing label</label>
          <div>
            <input autofocus type="text" class="form-control" name="thingname" id="thingname" pattern=".{1,}" required
              placeholder="Thing label" :value="valuecopy.label" @input="$set(valuecopy,'label',$event.target.value)">
          </div>

          <label v-if="!value.UID" for="bindingid">Thing Type</label>
          <div v-if="!value.UID && status==OhListStatus.READY">
            <ui-dropdown id="bindingid" ref="bindingid" name="bindingid" title="Binding" viewkey="name" desckey="description"
              valuekey="id" label="Select a binding" v-dynamicload:bindings="" @input="setBindingFilter($event.target.value)"
              required></ui-dropdown>
            <ui-dropdown id="thingtype" :value.prop="valuecopy.thingTypeUID" name="thingtype" title="Thing types"
              viewkey="label" desckey="description" valuekey="UID" label="Select a thing type"
              v-dynamicload:thing-types="bindingfilter" @input="setThingType($event.target.value)" required></ui-dropdown>
          </div>

          <template v-if="bridgeTypeFilter">
            <label for="bridgetype">Bridge Type</label>
            <ui-dropdown id="bridgetype" name="bridgetype" title="Bridge type" viewkey="label" desckey="description"
              valuekey="UID" label="Select a bridge type" v-dynamicload:things="bridgeTypeFilter" required></ui-dropdown>
          </template>
        </form>

        <section class="config" v-if="!bridgeTypeFilter && value.UID && configurationParameters">
          <h4>Configuration</h4>
          <div class="elements">
            <vue-config-element v-for="param in configurationParameters" :desc="true" :key="param.id" :param="param"
              :value="getConfigValue(param)" @input="setConfigValue(param,$event)" @remove="removeConfigValue(param)"></vue-config-element>
          </div>
        </section>

        <div class="btnbar" role="group">
          <button v-if="!value.UID" class="btn btn-primary" :class="{disabled:canNotCreate}" @click.prevent="create">
            <i class="fas fa-save"></i> Create</button>
          <button v-else class="btn btn-primary" :class="{disabled:unchanged}" @click.prevent="save">
            <i class="fas fa-save"></i> Save</button>
        </div>
    </template>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="thingconfig"></partial>
</body>

</html>
