<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
</head>

<body>
  <link rel="stylesheet" href="css/listgridview.css" type="text/css" />
  <nav class="sidebar leftright">
    <h4>Actions</h4>
    <ul>
      <li><a href="thing_configuration.html"><i class="fas fa-plus"></i> Add Thing</a></li>
    </ul>
    <p>Sort list</p>
    <ul>
      <li>
        <oh-change-filter target="oh-list-bind" sort="label" direction="↓↑">
          <i class="fas fa-sort-alpha-down"></i> By name</oh-change-filter>
      </li>
      <li>
        <oh-change-filter target="oh-list-bind" sort="thingTypeUID" direction="↓↑">
          <i class="fas fa-sort-amount-down"></i> By binding</oh-change-filter>
      </li>
    </ul>
    <p>Predefined filters</p>
    <ul>
      <li>
        <oh-change-filter target="ui-filter" filter="statusInfo:ONLINE">Online Things</oh-change-filter>
      </li>
      <li>
        <oh-change-filter target="ui-filter" filter="statusInfo:OFFLINE">Offline Things</oh-change-filter>
      </li>
      <li>
        <oh-change-filter target="ui-filter" filter="statusInfo:UNINITIALIZED">Configuration required</oh-change-filter>
      </li>
    </ul>
  </nav>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="Manage and configure your Things or add Things manually"></partial>
  <main>

    <ui-filter class="mt-4" placeholder="Filter..." grid="Grid view" list="List view" textual="Textual representation"
      select="Selection mode">
      <button class="btn btn-danger" data-action="remove">
        <i class="fas fa-trash"></i> Remove
        <oh-event-bind eventName="selectionchanged" setcontent></oh-event-bind>
        <span class="badge badge-light ml-2">0</span>
      </button>
    </ui-filter>

    <oh-list-bind for="thinglist" adapter="modeladapter_lists/things" filtercriteria="label" maxItems="100"></oh-list-bind>
    <oh-vue-list id="thinglist">
      <div slot="app">
        <list></list>
      </div>
      <partial src="vuelistbasics.html" KEY="UID" help="contexthelp/things"></partial>
      <template slot="item">
        <article :id="item.UID.replace(/:/g,'_')" :class="[{pulseAnimation: pulseAnimation}]">
          <vue-inprogress></vue-inprogress>
          <header class="title">
            <span :title="item.label"> {{item.label}} </span>
          </header>
          <section class="actions btn-group">
            <oh-doc-link show class="btn btn-info-hover" title="Tags and Storage association" href="items_info.fragment.html"
              :context.prop='item.UID'><i class="fas fa-info"></i></oh-doc-link>
            <button class="btn btn-danger-hover" title="Remove item" @click="remove()"><i class="fas fa-trash"></i></button>
          </section>
          <section class="description">
            <span>{{description()}}<br>
              With {{Object.keys(item.properties).length}}
              <oh-doc-link show class="link text-nowrap ml-1" href="thing_properties.fragment.html" :context.prop='item.properties'>
                <span>properties</span>
              </oh-doc-link>.
            </span>
          </section>
          <footer>
            <i :title="statusDetails" :class="statusBadge">{{statusInfo}}</i>
            <a title="Edit configuration" class="ml-auto btn btn-outline-success text-nowrap" :href="'thing_configuration.html?title='+encodeURIComponent(item.label)+'&UID='+encodeURIComponent(item.UID)">
              Configure</a>
            <a v-if="haschannels()" title="Edit channels" class="btn btn-outline-secondary text-nowrap" :href="'thing_channels.html?title='+encodeURIComponent(item.label)+'&UID='+encodeURIComponent(item.UID)">
              Channels</a>
            <ui-dropdown v-if="actions" nostate novalue valuekey="id" title="Actions" viewkey="label" desckey="description"
              :options.prop="actions" @input="triggerAction">
              <button class="btn btn-outline-secondary"><i class="fas fa-ellipsis-v label"></i></button>
            </ui-dropdown>
          </footer>
        </article>
      </template>
    </oh-vue-list>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="things"></partial>
</body>

</html>
