<html>

<head>
  <partial src="head.html"></partial>
  <title>openHAB - Empowering the smart home</title>
  <link rel="parent" href="maintenance.html" />
</head>

<body>
  <link rel="stylesheet" href="css/listgridview.css" type="text/css" />
  <link rel="stylesheet" href="css/userroles.css" type="text/css" />
  <partial src="maintenancenav.html"></partial>
  <partial src="mainnav.html"></partial>
  <partial src="pagetitleheader.html" title="User roles"></partial>
  <main>

    <ui-filter class="mt-4" placeholder="Filter..." grid="Grid view" list="List view" textual="Textual representation"
      select="Selection mode">
      <button class="btn btn-danger" data-action="remove">
        <i class="fas fa-trash"></i> Remove
        <oh-event-bind eventName="selectionchanged" setcontent></oh-event-bind>
        <span class="badge badge-light ml-2">0</span>
      </button>
    </ui-filter>

    <div id="new-item" class="modal" role="dialog">
      <div class="modal-dialog" role="document">
        <oh-vue-bind adapter="modeladapter_mixins/newUserRole"></oh-vue-bind>
        <oh-vue></oh-vue>
        <template>
          <form class="modal-content was-validated" @submit="create">
            <portal name="testname" target-el="#actions" breakshadow slim>
              <p class="users">Actions</p>
              <ul class="users">
                <li><a href="#new-item"><i class="fas fa-plus"></i> New user-role</a></li>
              </ul>
            </portal>
            <vue-inprogress></vue-inprogress>
            <div class="modal-header">
              <h5 class="modal-title">New user-role</h5>
              <a href="#" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><abbr title="Reference this Item via this identifier">UID</abbr></label>
                <div class="col-sm-10">
                  <input class="form-control" v-model="id" name="name" pattern=".{2,}" required placeholder="Item UID">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Label</label>
                <div class="col-sm-10">
                  <input class="form-control" v-model="label" name="label" pattern=".{2,}" required placeholder="Label">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                  <input class="form-control" v-model="description" name="description" pattern=".{2,}" placeholder="Optional description">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input class="form-control" v-model="password" name="description" pattern=".{2,}" placeholder="Optional description">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" :class="{disabled:notready}" class="btn btn-primary">Create</button>
              <a class="btn btn-secondary" href="#">Close</a>
            </div>
          </form>
        </template>
      </div>
    </div>

    <oh-list-bind adapter="modeladapter_lists/user-roles" filtercriteria="label"></oh-list-bind>
    <oh-vue-list>
      <partial src="vuelistbasics.html" key="item.id" help="contexthelp/user-roles"></partial>
      <template slot="item">
        <article :id="item.id" :class="[{haschanges: changed},{pulseAnimation: pulseAnimation}]">
          <vue-inprogress></vue-inprogress>
          <header>
            <span :title="item.label+': Edit the name and press enter'" contenteditable="true" @blur="item.label=$event.target.innerText"
              @keypress.enter.prevent="item.label=$event.target.innerText">{{item.label}}</span>
          </header>
          <section class="actions unsaved btn-group">
            <button class="btn btn-success" title="Save changes" @click="save()"><i class="fas fa-save"></i></button>
            <button class="btn btn-danger" title="Discard changes" @click="discard()"><i class="fas fa-undo"></i></button>
          </section>
          <section class="actions btn-group onlylist">
            <button class="btn btn-danger-hover" title="Remove item" @click="remove"><i class="fas fa-trash"></i></button>
          </section>
          <section class="description mb-2">
            <p>Allow this user-role access to openHAB subsystems and <i>Items</i>.</p>

            <div style="border-top: 1px solid black;display: grid;grid-template-columns: 200px 1fr;grid-gap: 10px;padding-top: 10px">

              <div>Subsystem access</div>
              <ui-multiselect class="form-control" viewkey="label" desckey="name" valuekey="name" :options.prop="$root.restEndpoints"
                placeholder="Restrict to" :value.prop="item.restEndpoints" @input="$set(item,'restEndpoints', $event.target.value)"></ui-multiselect>

              <div>Specific Items </div>
              <ui-multiselect class="form-control" :options.prop="$root.itemlist" viewkey="label" valuekey="name"
                desckey="name" placeholder="Select items" :value.prop="item.items" @input="item.items=$event.target.value"></ui-multiselect>

              <div>Additional items by name (Regex pattern)</div>
              <textarea class="form-control" placeholder="Regex item pattern" v-model="item.itemByNamePattern"></textarea>

              <div>Additional items by label (Regex pattern)</div>
              <textarea class="form-control" placeholder="Regex item pattern" v-model="item.itemByLabelPattern"></textarea>

              <div>Additional items by tags</div>
              <ui-tags class="form-control" :value.prop="item.itemByTags" placeholder="Tags" @input="item.itemByTags=$event.target.value"></ui-tags>

            </div>
          </section>
          <footer>
            <button class="ml-auto btn btn-outline-danger text-nowrap" @click="remove()">
              <i class="fas fa-trash"></i><span class="ml-2">Remove</span></button>
          </footer>
        </article>
      </template>
    </oh-vue-list>

  </main>
  <footer></footer>
  <partial src="contexthelp.html" help="user-roles"></partial>
</body>

</html>
